<script>
   import { currentNavItem } from '../scripts/currentNavItem.js';
   export let content;
$: active_link = content?.path;
$: isServiceAreaPage = active_link.includes('fencing-contractor');
</script>
<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<section id="footer-1392">
  <div class="cs-container">
    <div class="cs-top">
      <a aria-label="go back to home" class="cs-logo" href="/">
        <img
          class="cs-logo-img"
          loading="lazy"
          decoding="async"
          src="media/svg/inspiredfencing-logo-white.svg"
          alt="logo"
          width="209"
          height="40"
        />
      </a>
      <ul class="cs-ul">
        <li class="cs-li">
          <a href="/" class="cs-link {active_link === '/' ? 'cs-active' : ''}">Home</a>
        </li>
        <li class="cs-li">
          <a href="about" class="cs-link {active_link === 'about' ? 'cs-active' : ''}" >About</a>
        </li>
        <li class="cs-li">
          <a href="services" class="cs-link {active_link === 'services' ? 'cs-active' : ''}" >Services</a>
        </li>
        <li class="cs-li">
          <a href="pricing" class="cs-link {active_link === 'pricing' ? 'cs-active' : ''}" >Pricing</a>
        </li>
        <li class="cs-li">
          <a href="projects" class="cs-link {active_link === 'projects' ? 'cs-active' : ''}">Projects</a>
        </li>
        <li class="cs-li">
          <a href="gallery" class="cs-link {active_link === 'gallery' ? 'cs-active' : ''}">Gallery</a>
        </li>
        <li class="cs-li">
          <a href="reviews" class="cs-link {active_link === 'reviews' ? 'cs-active' : ''}">Reviews</a>
        </li>
        <li class="cs-li">
          <a href="service-areas" class="cs-link {active_link === 'service-areas' ? 'cs-active' : ''}">Service Areas</a>
        </li>
        <li class="cs-li">
          <a href="contact" class="cs-link {active_link === 'contact' ? 'cs-active' : ''}">Contact</a>
        </li>
      </ul>
    </div>
    <div class="cs-bottom">
      <!--Social-->
      <ul class="cs-social">
        <li class="cs-social-li">
          <a
            href="https://www.facebook.com/InspiredFencing"
            class="cs-social-link"
            aria-label="facebook"
            target="_blank"
            rel="noopener"
          >
            <img
              class="cs-social-icon cs-default"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/face-white1.svg"
              alt="icon"
              loading="lazy"
              decoding="async"
              width="12"
              height="12"
              aria-hidden="true"
            />
          </a>
        </li>
        <li class="cs-social-li">
          <a
            href="https://x.com/InspiredFencing"
            class="cs-social-link"
            aria-label="twitter"
            target="_blank"
            rel="noopener"
          >
            <img
              class="cs-social-icon cs-default"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-white.svg"
              alt="icon"
              loading="lazy"
              decoding="async"
              width="12"
              height="12"
              aria-hidden="true"
            />
          </a>
        </li>
        <li class="cs-social-li">
          <a
            href="https://instagram.com/inspiredfencing"
            class="cs-social-link"
            aria-label="instagram"
            target="_blank"
            rel="noopener"
          >
            <img
              class="cs-social-icon cs-default"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram.svg"
              alt="icon"
              loading="lazy"
              decoding="async"
              width="12"
              height="12"
              aria-hidden="true"
            />
          </a>
        </li>
      </ul>
      <span class="cs-copyright">
        © Copyright 2025 - Designed & Developed <a href="https://plentify.au/" class="cs-copyright-link" target="_blank"
          > by Plentify Web Designs</a
        >
      </span>
      <div class="cs-flex">
        <!-- <a href="." class="cs-copyright-link">Privacy Policy</a> -->
        <!-- <span class="cs-separater">|</span> -->
        <a href="terms" class="cs-link {active_link === 'terms' ? 'cs-active' : ''}">Terms of Conditions</a>
      </div>
    </div>
  </div>
</section>
