<script>
  export let title, content;
  $: active_link = content?.path ?? "/";
  let isMenuOpen = false;
  let hoveredDropdown = false;
  let innerWidth;
  let isDropdownOpen = false;
    // Check if current path includes service area paths
    $: isServiceAreaPage = active_link.includes('fencing-contractor');
      // Media query for mobile devices
      $: isMobile = innerWidth < 1023; // 63.9375rem = 1023px
</script>

<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->
<svelte:window bind:innerWidth/>
<header id="cs-navigation" class="{isMenuOpen ? 'cs-active' : ''}">
  <!--Nav Logo-->
  <!-- <a href="/" {title} on:click={() => currentNavItem.set('home')} class="cs-logo" aria-label="back to home"> -->
 <a href="/"
  class="cs-logo {active_link === '/' ? 'cs-active' : ''}"
  {title}
  aria-label="back to home"
>
    <img
      src="media/svg/inspiredfencing-logo-white.svg"
      alt="logo"
      width="210"
      height="29"
      aria-hidden="true"
      decoding="async"
    />
  </a>
  <!--Top Bar-->
  <ul class="cs-top-bar">
    <li class="cs-item">
      <picture class="cs-picture">
        <img
          class="cs-icon"
          src="media/svg/Icons_phone-green.svg"
          alt="Green phone icon"
          width="24"
          height="24"
          aria-hidden="true"
          decoding="async"
        />
      </picture>
      <div class="cs-flex">
        <span class="cs-header">Call Us Now</span>
        <a href="tel:+61 416 186 911" class="cs-link">0416 186 911</a>
      </div>
    </li>
    <li class="cs-item">
      <picture class="cs-picture">
        <img
          class="cs-icon"
          src="media/svg/Icons_mail-green.svg"
          alt="Green email icon"
          width="24"
          height="24"
          aria-hidden="true"
          decoding="async"
        />
      </picture>
      <div class="cs-flex">
        <span class="cs-header">Send A Message</span>
        <a href="mailto:info@inspiredfencing.com.au" class="cs-link"
          >info@inspiredfencing.com.au</a
        >
      </div>
    </li>
    <li class="cs-item cs-remove">
      <picture class="cs-picture">
        <img
          class="cs-icon"
          src="media/svg/Icons_pin-green.svg"
          alt="Green location pin icon"
          width="24"
          height="24"
          aria-hidden="true"
          decoding="async"
        />
      </picture>
      <div class="cs-flex">
        <span class="cs-header">Location</span>
        <a href="." class="cs-link"
          >Somerville, Victoria, Australia</a
        >
      </div>
    </li>
  </ul>
  <div class="cs-bottom-bar">
    <!--Navigation List-->
    <!-- svelte-ignore a11y-no-redundant-roles -->
    <nav class="cs-nav" role="navigation">
      <!--Mobile Nav Toggle-->
      <button 
      on:click={() => isMenuOpen = !isMenuOpen}
      class="cs-toggle {isMenuOpen ? 'cs-active' : ''}" 
      aria-label="mobile menu toggle">
        <div class="cs-box" aria-hidden="true">
          <span class="cs-line cs-line1" aria-hidden="true"></span>
          <span class="cs-line cs-line2" aria-hidden="true"></span>
          <span class="cs-line cs-line3" aria-hidden="true"></span>
        </div>
      </button>
      <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
      <div class="cs-ul-wrapper">
        <ul id="cs-expanded" class="cs-ul" aria-expanded={isMenuOpen}>
          <li class="cs-li">
            <a
              href="/"
              on:click={() => (isMenuOpen = false)}
              class="cs-li-link {active_link === '/' ? 'cs-active' : ''}"
            >
              Home
            </a>
          </li>
          <li class="cs-li">
            <a
              href="about"
              on:click={() => (isMenuOpen = false)}
              class="cs-li-link {active_link === 'about' ? 'cs-active' : ''}"
            >
              About
            </a>
          </li>
          <li class="cs-li">
            <a
              href="services"
              on:click={() => (isMenuOpen = false)}
              class="cs-li-link {active_link === 'services' ? 'cs-active' : ''}"
            >
              Services
            </a>
          </li>
          <li class="cs-li">
            <a
              href="projects"
              on:click={() => (isMenuOpen = false)}
              class="cs-li-link {active_link === 'projects' ? 'cs-active' : ''}"
            >
              Projects
            </a>
          </li>
          <li class="cs-li">
            <a
              href="gallery"
              on:click={() => (isMenuOpen = false)}
              class="cs-li-link {active_link === 'gallery' ? 'cs-active' : ''}"
            >
              Gallery
            </a>
          </li>
          <li class="cs-li">
            <a
              href="reviews"
              on:click={() => (isMenuOpen = false)}
              class="cs-li-link {active_link === 'reviews' ? 'cs-active' : ''}"
            >
              Reviews
            </a>
          </li>
          <li class="cs-li cs-dropdown" 
          class:cs-active={isMobile ? isDropdownOpen : hoveredDropdown}
          on:mouseenter={() => !isMobile && (hoveredDropdown = true)}
          on:mouseleave={() => !isMobile && (hoveredDropdown = false)}>
            <span class="cs-li-link" 
            class:cs-active={isServiceAreaPage}
              on:click={() => isMobile && (isDropdownOpen = !isDropdownOpen)}>
              <a class="cs-li-link {active_link === 'service-areas' ? 'cs-active' : ''}"
              href={isMobile ? null : "service-areas"}>
              Service Areas 
            </a>
                <img class="cs-drop-icon svg-filter" src="media/svg/Icons_down.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
            </span>
            <ul class="cs-drop-ul">
                <li class="cs-li-link cs-drop-link">
                  <a
                  href="mornington-peninsula/fencing-contractor"
                  on:click={() => (isMenuOpen = false)}
                  class="cs-li-link {active_link === 'mornington-peninsula/fencing-contractor' ? 'cs-active' : ''}"
                >
                Mornington Peninsula </a>
                </li>
                <li class="cs-li-link cs-drop-link">
                  <a
                  href="south-gippsland/fencing-contractor"
                  on:click={() => (isMenuOpen = false)}
                  class="cs-li-link {active_link === 'south-gippsland/fencing-contractor' ? 'cs-active' : ''}"
                >
                South Gippsland </a>
                </li>
                <li class="cs-li-link cs-drop-link">
                  <a
                  href="frankston/fencing-contractor"
                  on:click={() => (isMenuOpen = false)}
                  class="cs-li-link {active_link === 'frankston/fencing-contractor' ? 'cs-active' : ''}"
                >
                Frankston </a>
                </li>
                <li class="cs-li-link cs-drop-link">
                  <a
                  href="kingston/fencing-contractor"
                  on:click={() => (isMenuOpen = false)}
                  class="cs-li-link {active_link === 'kingston/fencing-contractor' ? 'cs-active' : ''}"
                >
                Kingston </a>
                </li>
                <li class="cs-li-link cs-drop-link">
                  <a
                  href="bass-coast/fencing-contractor"
                  on:click={() => (isMenuOpen = false)}
                  class="cs-li-link {active_link === 'bass-coast/fencing-contractor' ? 'cs-active' : ''}"
                >
                Bass Coast</a>
                </li>
                <li class="cs-li-link cs-drop-link">
                  <a
                  href="baw-baw/fencing-contractor"
                  on:click={() => (isMenuOpen = false)}
                  class="cs-li-link {active_link === 'baw-baw/fencing-contractor' ? 'cs-active' : ''}"
                >
                Baw Baw</a>
                </li>
                <li class="cs-li-link cs-drop-link">
                  <a
                  href="cardinia/fencing-contractor"
                  on:click={() => (isMenuOpen = false)}
                  class="cs-li-link {active_link === 'cardinia/fencing-contractor' ? 'cs-active' : ''}"
                >
                Cardinia </a>
                </li>
                <li class="cs-li-link cs-drop-link">
                  <a
                  href="casey/fencing-contractor"
                  on:click={() => (isMenuOpen = false)}
                  class="cs-li-link {active_link === 'casey/fencing-contractor' ? 'cs-active' : ''}"
                >
                Casey </a>
                </li>
            </ul>
        </li>
<!--           <li class="cs-li">
            <a
              href="service-areas"
              on:click={() => (isMenuOpen = false)}
              class="cs-li-link {active_link === 'service-areas' ? 'cs-active' : ''}"
            >
              Service Areas
            </a>
          </li> -->
          {#if isMenuOpen}
          <li class="cs-li">
            <a
              href="contact"
              on:click={() => (isMenuOpen = false)}
              class="cs-li-link {active_link === 'contact'
                ? 'cs-active'
                : ''}"
            >
              Contact
            </a>
          </li>
          {/if}
        </ul>
      </div>
      <!--             <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="." class="cs-li-link cs-active">
                            Home
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="." class="cs-li-link">
                            About
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="." class="cs-li-link">
                            Services
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="." class="cs-li-link">
                            Weight Loss
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="." class="cs-li-link">
                            Aesthetics
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="." class="cs-li-link">
                            FAQ
                        </a>
                    </li>
                </ul>
            </div> -->
    </nav>
    <a href="contact" class="cs-button-solid cs-nav-button {active_link === 'contact' ? 'cs-active' : ''}"
      >Contact Us</a>
    <!--Dark Mode toggle, uncomment button code if you want to enable a dark mode toggle-->
    <!-- <button id="dark-mode-toggle" aria-label="dark mode toggle">
            <svg class="cs-moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480" xml:space="preserve"><path d="M459.782 347.328c-4.288-5.28-11.488-7.232-17.824-4.96-17.76 6.368-37.024 9.632-57.312 9.632-97.056 0-176-78.976-176-176 0-58.4 28.832-112.768 77.12-145.472 5.472-3.712 8.096-10.4 6.624-16.832S285.638 2.4 279.078 1.44C271.59.352 264.134 0 256.646 0c-132.352 0-240 107.648-240 240s107.648 240 240 240c84 0 160.416-42.688 204.352-114.176 3.552-5.792 3.04-13.184-1.216-18.496z"/></svg>
            <img class="cs-sun" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsun.svg" decoding="async" alt="moon" width="15" height="15">
        </button> -->
  </div>
</header>
