<script>
  export let env, content;
    // Reactive variable for the current path
    $: currentPath = content?.path ?? "/";

// Function to determine canonical URL
function getCanonicalUrl(path) {
  const baseUrl = "https://inspiredfencing.com.au";

    // If there's no content, or it's the homepage, return base URL with single slash
    if (!content || path === "/") {
    return `${baseUrl}/`;
  }

 // Normalize the path (ensure leading and trailing slashes)
 let normalizedPath = path.startsWith('/') ? path : `/${path}`;
  normalizedPath = normalizedPath.endsWith('/') ? normalizedPath : `${normalizedPath}/`;

  // Since we have content, this is a valid path
  return `${baseUrl}${normalizedPath}`;
}

// Reactive canonical URL
$: canonicalUrl = getCanonicalUrl(currentPath);
</script>

<head>
  <!--Standard meta tags-->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="revisit-after" content="1 days" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="author" content="Plentify Web Designs" />
  <meta name="generator" content="Plenti" />
  <!--Swap our for actual link-->
  <link rel="canonical" href="{canonicalUrl}" />
  <title>{content?.fields?.meta?.title ?? 'Inspired Fencing | Fencing Expert in Mornington Peninsula & South East Melbourne'}</title
>
  <meta name="title" content="{content?.fields?.meta?.title ?? 'Inspired Fencing | Fencing Expert in Mornington Peninsula & South East Melbourne'}" />
  <meta name="description" content="{content?.fields?.meta?.desc ?? 'Inspired Fencing is a family owned and operated fencing contractor builting bespoke fence installations and repair services at affordable prices based in Somerville on Mornington Peninsula.'}" />
  <meta name="keywords" content="{content?.fields?.meta?.keywords}" />

  <base href={env.baseurl} />
  <!--Social Media Display-->
  <meta
    property="og:title"
    content="{content?.fields?.meta?.title ?? 'Inspired Fencing | Fencing Expert in Mornington Peninsula & South East Melbourne'}"
  />
  <meta
    property="og:description"
    content="{content?.fields?.meta?.desc ?? 'Inspired Fencing is a family owned and operated fencing contractor builting bespoke fence installations and repair services at affordable prices based in Somerville on Mornington Peninsula.'}"
  />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{canonicalUrl}" />
  <meta property="og:image" content="media/images/InspiredFencing-logo.jpeg" />
  <meta
    property="og:image:secure_url"
    content="media/images/InspiredFencing-logo.jpeg"
  />
  <!--Favicons-->
  <link
    rel="apple-touch-icon"
    sizes="144x144"
    href="media/favicon/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="media/favicon//favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="media/favicon//favicon-16x16.png"
  />
  <link rel="manifest" href="media/favicon//site.webmanifest" />
  <link
    rel="mask-icon"
    href="media/favicon//safari-pinned-tab.svg"
    color="#5bbad5"
  />
  <meta name="msapplication-TileColor" content="#00a300" />
  <meta name="theme-color" content="#ffffff" />

  <script type="module" src={`${env.entrypointJS}/core/main.js`}></script>
  <script type="module" src="js/nav.js"></script>
  <!-- Custom styles -->
  <link rel="stylesheet" href="local.css" />
  <link rel="stylesheet" href="critical.css" />
  <link
    rel="stylesheet"
    href="global.css"
    media="print"
    onload="this.media='all';this.onload=null;"
  />
  <nonscript>
    <link href="global.css" rel="stylesheet" />
  </nonscript>
  <link
    href="media/svg/inspiredfencing-logo-white.svg"
    rel="preload"
    as="image"
  />
  <link href="media/images/index/heroPalingNew.webp" rel="preload" as="image" />
  <link rel="icon" type="image/svg+xml" href="media/favicon/4.ico" />
  <link rel="stylesheet" href={`${env.entrypointJS}/bundle.css`} />
  <link
    rel="preload"
    href="fonts/roboto-v29-latin-regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/roboto-v29-latin-700.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/roboto-v29-latin-900.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
</head>
