<script>
    export let 
    subtitle, title, featuredImage1,
      featuredImage2,
      featuredImage3,
      contentBlock1,
      contentBlock2,
      contentBlock3,
      contentBlock4,
      contentBlock5,
      contentBlock6,
      contentBlock7,
      contentBlock8,
      contentBlock9,
      contentBlock10,
    contentBlock11, contentBlock12, contentBlock13, contentBlock14, contentBlock15; 
  
    const sections = [
      { blocks: [contentBlock1, contentBlock2, contentBlock3], image: featuredImage1 },
      { blocks: [contentBlock4, contentBlock5, contentBlock6], image: featuredImage2 },
      { blocks: [contentBlock7, contentBlock8, contentBlock9], image: featuredImage3 },
      { blocks: [contentBlock10, contentBlock11, contentBlock12], image: featuredImage2 },
      { blocks: [contentBlock13, contentBlock14, contentBlock15], image: featuredImage3 }
    ];
  
    function getAdditionalParagraphs(block) {
      return Object.entries(block)
        .filter(([key, _]) => key.startsWith("paragraph") && key !== "paragraph1")
        .sort(([a], [b]) => a.localeCompare(b, undefined, { numeric: true }))
        .map(([_, value]) => value);
    }
  
    function hasContent(section) {
      return section.blocks.some(block => block && Object.keys(block).length > 0);
    }
</script>

<div id="content-page-1944">
  <!-- Title and subtitle section -->
  <section class="cs-title-section">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">{subtitle}</span>
        <h1 class="cs-title">{title}</h1>
      </div>
    </div>
  </section>

  {#each sections as section, index}
    {#if hasContent(section) || section.image}
      <section
        class={index % 2 === 0
          ? "cs-content-default"
          : "cs-content-wrapper cs-content-reverse"}
      >
        <div class="cs-container">
          {#if hasContent(section)}
            <div class="cs-content">
              {#each section.blocks as block}
                {#if block}
                  <h4>{block.title}</h4>
                  <p>
                    {@html block.paragraph1}
                  </p>
                  {#each getAdditionalParagraphs(block) as paragraph}
                    <p>{@html paragraph}</p>
                  {/each}
                {/if}
              {/each}
            </div>
          {/if}
          {#if section.image}
            <div class="cs-image-group">
              <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset={section.image.src} />
                <source media="(min-width: 601px)" srcset={section.image.src} />
                <img
                  loading="lazy"
                  decoding="async"
                  src={section.image.src}
                  alt={section.image.alt}
                  width={index === 0 ? "522" : "324"}
                  height={index === 0 ? "680" : "467"}
                />
              </picture>
            </div>
          {/if}
        </div>
      </section>
    {/if}
  {/each}
</div>

<style>
  /*-- -------------------------- -->
  <---        Content Page        -->
  <--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #content-page-1944 {
      padding: clamp(12.75rem, 7.82vw, 6.25rem) 1rem;
      padding-bottom: 1.5rem;
      overflow: hidden;
      position: relative;
      z-index: 1;
    }
    #content-page-1944 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(1.5rem, 6vw, 4rem);
      position: relative;
    }
    #content-page-1944 .cs-content {
      text-align: left;
      width: 100%;
      max-width: 47.75rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    #content-page-1944 .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: inherit;
      width: 100%;
      max-width: 100%;
      margin: 0 0 1rem 0;
      color: var(--headerColor);
      position: relative;
    }
    #content-page-1944 .cs-date {
      font-weight: 700;
      text-align: inherit;
      margin: 0 0 1rem;
      color: var(--headerColor);
    }
    #content-page-1944 h2,
    #content-page-1944 h3,
    #content-page-1944 h4,
    #content-page-1944 h5,
    #content-page-1944 h6 {
      font-weight: 700;
      text-align: inherit;
      margin: 0 0 1rem 0;
      color: var(--headerColor);
    }
    #content-page-1944 h2 {
      font-size: 2rem;
      margin-top: 2rem;
    }
    #content-page-1944 h3 {
      font-size: 1.5rem;
    }
    #content-page-1944 h4,
    #content-page-1944 h5,
    #content-page-1944 h6 {
      font-size: 1.25rem;
      color: var(--primary);
    }
    #content-page-1944 .cs-button-solid {
      margin-bottom: 2rem;
    }
    #content-page-1944 p {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      margin: 0 0 1rem 0;
      color: var(--bodyTextColor);
    }
    #content-page-1944 p:last-of-type {
      margin-bottom: 2rem;
    }
    #content-page-1944 p a {
      font-size: inherit;
      line-height: inherit;
      text-decoration: underline;
      color: var(--primary);
      filter: brightness(120%);
    }
    #content-page-1944 ol {
      margin: 0 0 2rem 0;
      padding-left: 1.5rem;
      color: var(--headerColor);
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    #content-page-1944 ol li {
      font-size: 1rem;
      line-height: 1.5em;
    }
    #content-page-1944 ol li strong {
      color: var(--headerColor);
    }
    #content-page-1944 ol li p:last-of-type {
      margin: 0;
    }
    #content-page-1944 ul {
      margin: 0 0 2rem 0;
      padding-left: 1.5rem;
      color: var(--bodyTextColor);
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    #content-page-1944 ul li {
      list-style: none;
      line-height: 1.5em;
      font-size: 1rem;
      color: inherit;
      position: relative;
    }
    #content-page-1944 ul li strong {
      color: var(--headerColor);
    }
    #content-page-1944 ul li:before {
      /* custom list bullet */
      content: "";
      width: 3px;
      height: 3px;
      background: currentColor;
      opacity: 1;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 0.625rem;
      left: -0.75rem;
    }
    #content-page-1944 .cs-image-group {
      font-size: min(2.29vw, 1rem);
      width: 31.875em;
      height: 47.75em;
      /* display: none; */
      order: 1;
      position: relative;
      z-index: 2;
    }
    #content-page-1944 .cs-picture {
      width: 32.4375em;
      height: 42.5625em;
      box-sizing: border-box;
      overflow: hidden;
      position: absolute;
      right: 0;
      z-index: -1;
    }
    #content-page-1944 .cs-picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.7s;
    }
    #content-page-1944 .cs-graphic {
      height: auto;
      position: absolute;
    }
    #content-page-1944 .cs-twirl {
      width: 11.0625em;
      height: auto;
      top: 0.9375em;
      right: 0;
      z-index: 1;
    }
    #content-page-1944 .cs-peach {
      width: 5.375em;
      height: auto;
      top: 0.375em;
      right: 5.6875em;
    }
    #content-page-1944 .cs-blob {
      width: 19.1875em;
      height: auto;
      bottom: 0;
      left: 0;
      z-index: -2;
    }
    #content-page-1944 .cs-leaf {
      width: 16.4375em;
      height: auto;
      right: 0;
      bottom: 0;
      z-index: -3;
    }
  }
  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #content-page-1944 .cs-container {
      flex-direction: row;
      align-items: flex-start;
    }
    #content-page-1944 .cs-image-group {
      font-size: min(1.2vw, 1rem);
      display: block;
      flex: none;
    }
  }
  /*-- -------------------------- -->
  <---    Content Page Reverse    -->
  <--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #content-page-1944 .cs-content-reverse {
      padding-top: 2.25rem;
    }
    #content-page-1944 .cs-content-reverse .cs-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #content-page-1944 .cs-content-reverse .cs-image-group {
      width: 100%;
      max-width: 47.8125em;
      margin-bottom: 9rem;
    }
    #content-page-1944 .cs-content-reverse .cs-picture {
      width: 100%;
      display: block;
      position: relative;
      min-height: 80em;
    }
    #content-page-1944 .cs-content-reverse .cs-picture img {
      width: 100%;
      height: 60em;
      display: block;
    }

    #content-page-1944 .cs-content-reverse .cs-graphic {
      height: auto;
      position: absolute;
    }
    #content-page-1944 .cs-content-reverse .cs-dots {
      width: 8.5625em;
      height: auto;
      top: -2em;
      left: 2em;
    }
    #content-page-1944 .cs-content-reverse .cs-brown {
      width: 12.6875em;
      height: auto;
      top: 0;
      right: 0;
      z-index: -3;
    }
    #content-page-1944 .cs-content-reverse .cs-peach-right {
      width: 4.1875em;
      height: auto;
      top: -1.1875em;
      right: 8.3125em;
    }
    #content-page-1944 .cs-content-reverse .cs-leaf-right {
      width: 17.6875em;
      height: auto;
      bottom: -0.875em;
      left: 2em;
    }
  }
  /* Large Desktop 1300px */
  @media only screen and (min-width: 81.25rem) {
    #content-page-1944 .cs-content-reverse .cs-container {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
    #content-page-1944 .cs-content-reverse .cs-image-group {
      width: 38em;
      height: 60.125em;
      /* height: auto; */
      margin-top: 3rem;
      order: -1;
    }
    #content-page-1944 .cs-content-reverse .cs-picture {
      /* width: 38em; */
      width: 100%;
      height: 60em;
    }
    #content-page-1944 .cs-content-reverse .cs-dots {
      top: -1em;
    }
  }
</style>
