<script>
    export let cards;
</script>

<section id="ctar-482">
    <div class="cs-container">
        <ul class="cs-card-group">
            {#each cards as card}
                <li class="cs-item">
                    <!--Content Section-->
                    <div class="cs-left-section">
                        <span class="cs-number">{card.number}</span>
                        <h2 class="cs-h2">
                            {card.title} 
                        </h2>
                        <p class="cs-text">
                            <span class="cs-color">{card.text}</span>
                        </p>
                        <a href={card.link.url} class="cs-link">
                            <span class="cs-fake-button">{card.link.buttonText}</span>
                            <span class="cs-link-text">{card.link.linkText}</span>
                            <img class="cs-arrow" 
                                 aria-hidden="true" 
                                 src={card.link.arrowIcon.src} 
                                 loading="lazy" 
                                 decoding="async" 
                                 alt={card.link.arrowIcon.alt} 
                                 width={card.link.arrowIcon.width} 
                                 height={card.link.arrowIcon.height}>
                        </a>
                    </div>
                    <!--Picture-->
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset={card.image.mobile}>
                        <source media="(min-width: 601px)" srcset={card.image.desktop}>
                        <img aria-hidden="true" 
                             loading="lazy" 
                             decoding="async" 
                             src={card.image.desktop} 
                             alt={card.image.alt} 
                             width={card.image.width} 
                             height={card.image.height}>
                    </picture>
                </li>
            {/each}
        </ul>
    </div>
</section>
<style>
    /*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #ctar-482 {
    padding: var(--sectionPadding);
    padding-top: 0;
    position: relative;
  }
  #ctar-482:before {
    content: "";
    width: 100%;
    height: clamp(30%, 50vw, 40%);
    background: #f7f7f7;
    border-bottom: 1px solid #b4b2c7;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #ctar-482 .cs-container {
    width: 100%;
    /* changes to 1440px at desktop */
    max-width: 34.375em;
    margin: auto;
  }
  #ctar-482 .cs-card-group {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 16px - 20px */
    gap: clamp(1rem, 1.7vw, 1.25rem);
  }
  #ctar-482 .cs-item {
    list-style: none;
    width: 100%;
    /* 20px - 40px */
    padding: clamp(1.25rem, 4vw, 2rem);
    background-color: #14142b;
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    /* 12px - 24px */
    border-radius: clamp(.25rem, 2vw, .25rem);
    box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* 24px - 40px */
    gap: clamp(1.5rem, 4vw, 2.5rem);
    position: relative;
  }
  #ctar-482 .cs-item:hover .cs-picture img {
    transform: scale(1.1);
  }
  #ctar-482 .cs-number {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.7vw, 1.25rem);
    line-height: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    /* 12px - 32px */
    margin: 0 0 clamp(0.75rem, 3vw, 1.25rem) 0;
    color: var(--primary);
    display: block;
  }
  #ctar-482 .cs-h2 {
    /* 20px - 39px */
    font-size: clamp(1.25rem, 3.3vw, 1.9375rem);
    line-height: 1.2em;
    font-weight: bold;
    width: 100%;
    max-width: 22ch;
    /* 24px - 100px, adjusts at desktop */
    margin: 0 0 clamp(0.5rem, 3.5vw, 0.6rem) 0;
    color: var(--bodyTextColorWhite);
  }
  #ctar-482 .cs-color {
    color: var(--primary);
    /* makes it sit on its own line */
    display: block;
    margin-bottom: 1.25rem;
  }
  #ctar-482 .cs-link {
    text-decoration: none;
    padding: 0.5rem;
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.12);
    border-radius: .25rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }
  #ctar-482 .cs-link:hover .cs-fake-button {
    left: 50%;
  }
  #ctar-482 .cs-link:hover .cs-link-text {
    opacity: 0;
  }
  #ctar-482 .cs-fake-button {
    /* 12px - 20px */
    font-size: clamp(0.75rem, 2vw, 1.25rem);
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    /* 36px - 46px */
    line-height: clamp(2.25rem, 5vw, 2.875rem);
    /* 16px - 24px */
    padding: 0 clamp(1rem, 2vw, 1.5rem);
    margin: 0 1.25rem 0 0;
    color: var(--bodyTextColorWhite);
    background-color: var(--primary);
    border-radius: 0.25rem;
    position: absolute;
    top: 50%;
    left: 0.5rem;
    z-index: 10;
    transform: translateY(-50%);
    transition: left 0.3s;
  }
  #ctar-482 .cs-link-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    /* 36px - 46px */
    line-height: clamp(2.25rem, 5vw, 2.875rem);
    text-transform: initial;
    font-weight: 400;
    /* 24px - 78px, clamp removed at desktop */
    margin: 0 clamp(1.5rem, 3.4vw, 4.875rem) 0 0;
    color: var(--bodyTextColorWhite);
    display: block;
    position: relative;
    transition: opacity 0.3s;
  }
  #ctar-482 .cs-arrow {
    width: 1.25rem;
    height: auto;
    margin: 0;
    display: block;
  }
  #ctar-482 .cs-picture {
    width: 100%;
    /* changes to 306px at desktop */
    height: 14.5625rem;
    /* 8px - 24px */
    border-radius: clamp(.25rem, 2vw, .25vw);
    /* clips the corners of the image */
    overflow: hidden;
    display: block;
    position: relative;
  }
  #ctar-482 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.6s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #ctar-482 .cs-container {
    max-width: 90rem;
  }
  #ctar-482 .cs-card-group {
    flex-direction: row;
  }
  #ctar-482 .cs-item {
    overflow: hidden;
  }
  #ctar-482 .cs-item:before {
    content: "";
    width: 43.6875rem;
    height: 8.5625rem;
    background: #f1f1f4;
    opacity: 0.46;
    -webkit-filter: blur(132px);
    filter: blur(132px);
    transform: rotate(-45deg);
    position: absolute;
    display: block;
    top: -6.25rem;
    right: -15.625rem;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #ctar-482 .cs-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
 /*  #ctar-482 .cs-h2 {
    margin-bottom: 6.25rem;
  } */
  #ctar-482 .cs-link {
    max-width: 25rem;
  }
  #ctar-482 .cs-link-text {
    margin-right: 1.875rem;
  }
  #ctar-482 .cs-picture {
    width: 30.5625rem;
    height: 19.125rem;
  }
}
</style>