<script>
    export let title, subtitle, photos; 
</script>
<!-- ============================================ -->
<!--                   Gallery  1446             -->
<!-- ============================================ -->

<section id="gallery-1446">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">{subtitle}</span>
                <h2 class="cs-title">{title}</h2>
            </div>
        </div>
        <!--Gallery-->
        <div class="cs-gallery">
            <!--Picture 1-->
            {#each photos as photo}
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{photo.image_m.url}">
                <source media="(min-width: 601px)" srcset="{photo.image.url}">
                <img loading="lazy" decoding="async" src="{photo.image.url}" alt="{photo.image.alt}" width="{photo.image.width}" height="{photo.image.height}">
            </picture>
            {/each}
        </div>
    </div>
</section>
<style>
    /*-- -------------------------- -->
<---        Gallery  1446       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-1446 {
      padding: var(--sectionPadding);
      padding-top: 10em;
  }
  #gallery-1446 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
      position: relative;
  }
  #gallery-1446 .cs-content {
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
  }
  #gallery-1446 .cs-title {
      margin: 0;
      max-width: 30ch;
  }
  #gallery-1446 .cs-gallery {
      width: 100%;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(19.0625rem, 1fr));
      /* 16px - 20px */
      gap: clamp(1rem, 1.5vw, 1.25rem);
      position: relative;
  }
  #gallery-1446 .cs-image {
      /* 260px - 360px */
      min-height: clamp(16.25rem, 60vw, 20rem);
      border-radius: 0.25rem;
      /* clips the image corners */
      overflow: hidden;
      display: block;
      position: relative;
  }
  #gallery-1446 .cs-image img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* makes it act like a background image */
      object-fit: cover;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #gallery-1446 {
      padding-top: 14em;
  }
}
</style>