<script>
    export let subtitle, title, description, cards, image_m, image;
</script>
<!-- ============================================ -->
<!--                   Process  4 steps          -->
<!-- ============================================ -->

<section id="process-688">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">{subtitle}</span>
            <h2 class="cs-title">{title}</h2>
            <p class="cs-text">
                {description}
            </p>
        </div>
        <ul class="cs-card-group">
            {#each cards as card, i}
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="{card.icon.url}" alt="{card.icon.alt}" width="42" height="42">
                </picture>
                <h3 class="cs-h3">{card.title}</h3>
                <p class="cs-item-text">{card.blurb}</p>
            </li>
            {/each}
        </ul>
    </div>
    <!--SVG Waves-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 766px)" srcset="{image_m.url}" width="{image_m.width}" height="{image_m.height}">
        <!--Tablet and above Image-->
        <source media="(min-width: 767px)" srcset="{image.url}">
        <img loading="lazy" decoding="async" src="{image.url}" alt="{image.alt}" width="{image.width}" height="{image.height}">
    </picture>
<!--     <img class="cs-background" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fripples.svg" aria-hidden="true" alt="svg waves" width="1280" height="568"> -->
</section>

<style>
    /*-- -------------------------- -->
<---          Process   688        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #process-688 {
      padding: var(--sectionPadding);
      /* background-color: var(--primary); */
      position: relative;
      z-index: 1;
    }
    #process-688 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #process-688 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }
    #process-688 .cs-title,
    #process-688 .cs-text,
    #process-688 .cs-topper {
      color: var(--bodyTextColorWhite);
    }
    #process-688 .cs-text {
      opacity: 0.8;
    }
    #process-688 .cs-card-group {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      column-gap: 1.25rem;
      row-gap: 2.5rem;
    }
    #process-688 .cs-item {
      text-align: center;
      list-style: none;
      width: 100%;
      max-width: 25.8125rem;
    }
    #process-688 .cs-picture {
      width: 6.25rem;
      height: 6.25rem;
      margin: auto;
      margin-bottom: 1.5rem;
      background-color: #fdfaf8;
      /* border-radius: 50%; */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #process-688 .cs-icon {
      width: auto;
      height: 3.375rem;
      display: block;
    }
    #process-688 .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 3vw, 1.5625rem);
      font-weight: 700;
      margin: 0;
      margin-bottom: 0.75rem;
      color: #fff;
    }
    #process-688 .cs-item-text {
      font-size: 1rem;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColorWhite);
    }
    #process-688 .cs-background {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* opacity: 0.02; */
      /* Makes img tag act as a background image */
      object-fit: cover;
      z-index: -1;
    }
    #process-688 .cs-background:before {
      /* background color overlay */
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background: #000;
      opacity: 0.6;
      top: 0;
      left: 0;
      z-index: 1;
    }
    #process-688 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* Makes img tag act as a background image */
      object-fit: cover;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #process-688 .cs-card-group {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      align-items: stretch;
    }
    #process-688 .cs-item {
      width: 48%;
    }
  }
  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #process-688 .cs-item {
      width: clamp(23.45%, 22vw, 23.8%);
    }
  }
  /* Desktop - 1500px */
  @media only screen and (min-width: 93.75rem) {
    #process-688 .cs-background {
      background: url("media/images/Feature_paling.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    /*  #process-688 .cs-background img {
      display: none;
    } */
  }
</style>