<script>
    export let topper, title, text, background, steps;
</script>

<section id="process-687">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">{topper}</span>
            <h2 class="cs-title">{title}</h2>
            <p class="cs-text">
                {text}
            </p>
        </div>
        <ul class="cs-card-group">
            {#each steps as step}
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" 
                             loading="lazy" 
                             decoding="async" 
                             src={step.icon.src} 
                             alt={step.icon.alt} 
                             width={step.icon.width} 
                             height={step.icon.height}>
                    </picture>
                    <h3 class="cs-h3">{step.number}. {step.title}</h3>
                    <p class="cs-item-text">{step.text}</p>
                </li>
            {/each}
        </ul>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 766px)" 
                srcset={background.mobile} 
                width={background.width} 
                height={background.height}>
        <source media="(min-width: 767px)" 
                srcset={background.desktop}>
        <img loading="lazy" 
             decoding="async" 
             src={background.desktop} 
             alt={background.alt} 
             width={background.width} 
             height={background.height}>
    </picture>
</section>


<style>
    /*-- -------------------------- -->
<---          Process           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #process-687 {
    padding: var(--sectionPadding);
    /* Centers button */
    text-align: center;
    /* background-color: var(--primary); */
    position: relative;
    z-index: 1;
  }
  #process-687 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #process-687 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #process-687 .cs-title,
  #process-687 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  #process-687 .cs-text {
    opacity: .8;
  }
  #process-687 .cs-card-group {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 1.25rem;
    row-gap: 2.5rem;
  }
  #process-687 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 25.8125rem;
  }
  #process-687 .cs-picture {
    width: 6.25rem;
    height: 6.25rem;
    margin: auto;
    margin-bottom: 1.5rem;
    background-color: #fdfaf8;
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #process-687 .cs-icon {
    width: auto;
    height: 2.375rem;
    display: block;
  }
  #process-687 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.75rem;
    color: #fff;
  }
  #process-687 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #process-687 .cs-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* opacity: 0.02; */
    /* Makes img tag act as a background image */
    object-fit: cover;
    z-index: -1;
  }
  #process-687 .cs-background:before {
      /* background color overlay */
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background: #000;
      opacity: 0.6;
      top: 0;
      left: 0;
      z-index: 1;
    }
    #process-687 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* Makes img tag act as a background image */
      object-fit: cover;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #process-687 .cs-card-group {
    flex-direction: row;
    justify-content: space-between;
  }
}
  /* Desktop - 1500px */
  @media only screen and (min-width: 93.75rem) {
    #process-687 .cs-background {
      background: url("media/images/Feature_paling.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    /*  #process-688 .cs-background img {
      display: none;
    } */
  }
</style>