<script>
  export let subtitle, title, description, button, allContent, sectionId;
  import { currentNavItem } from '../scripts/currentNavItem.js';

  let reviews = allContent.find(
    (content) => content.type === "reviews"
  );
let Quotes = reviews.fields.quote
  const shuffle = (array) => {
    let currentIndex = array.length,
      randomIndex;
    // While there remain elements to shuffle.
    while (currentIndex != 0) {
      // Pick a remaining element.
      randomIndex = Math.floor(Math.random() * currentIndex);
      currentIndex--;
      // And swap it with the current element.
      [array[currentIndex], array[randomIndex]] = [
        array[randomIndex],
        array[currentIndex],
      ];
    }
    return array;
  };
  let RandomQuotes = shuffle(Quotes);
  // import Banner from "../components/banner_559.svelte";
</script>

<!-- ============================================ -->
<!--                   Reviews  607               -->
<!-- ============================================ -->
<!-- <Banner /> -->
<section id="reviews-607" data-section-id={sectionId}>
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">{subtitle}</span>
      <h2 class="cs-title">{title}</h2>
      <p class="cs-text">
        {description}
      </p>
    </div>
    <ul class="cs-card-group">
      {#each RandomQuotes as quote, i}
        {#if i < 3}
          <li class="cs-item">
            <img
              class="cs-icon"
              src="media/svg/green-quote-marks.svg"
              alt="quote icon"
              aria-hidden="true"
              width="40"
              height="38"
              loading="lazy"
              decoding="async"
            />
            <h3 class="cs-h3">{quote.title}</h3>
            <p class="cs-item-text">
              {@html quote.description
                ?.substring(0, 155)
                .replace(/(<([^>]+)>)/gi, "") + " ..."}
            </p>
            <span class="cs-name">{quote.name}</span>
            <span class="cs-job">{quote.location}</span>
          </li>
        {/if}
      {/each}
    </ul>
    <a href={button.url} class="cs-button-solid" on:click={() => currentNavItem.set('contact')}>{button.title}</a>
  </div>
</section>
<!-- <style>
  @media only screen and (min-width: 0rem) {
   [data-section-id="add-padding"] {
    padding-top: 4em !important;
  }
}
</style> -->