<script>
  export let subtitle, title, description, button, allContent;
  let reviews = allContent.find(content => content.type === "reviews");
</script>

<!-- ============================================ -->
<!--                   Reviews 355                -->
<!-- ============================================ -->

<section id="reviews-355">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">{subtitle}</span>
      <h2 class="cs-title">{title}</h2>
      <p class="cs-text">
        {description}
      </p>
    </div>
    <ul class="cs-card-group">
      {#each reviews.fields.quote as review}
      {#if review.id === "1" || review.id === "2" || review.id === "3"}
        <li class="cs-item">
          <img
            class="cs-quote"
            aria-hidden="true"
            src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote-blue.svg"
            decoding="async"
            alt="quote icon"
            width="40"
            height="33"
          />
          <p class="cs-review">
            {@html review.description
              ?.substring(0, 136)
              .replace(/(<([^>]+)>)/gi, "" ) + ' ...'}
          </p>
          <span class="cs-name">{review.name}</span>
          <span class="cs-job">{review.location}</span>
        </li>
        {/if}
      {/each}
    </ul>
    <a href={button.url} class="cs-button-solid">{button.title}</a>
  </div>
</section>
