<script>
  import { currentNavItem } from '../scripts/currentNavItem.js';
  export let subtitle, title, description, button, reviews, googleIcon, stars, sectionId;
</script>

<!-- ============================================ -->
<!--                   Reviews  607               -->
<!-- ============================================ -->
<!-- <Banner /> -->
<section id="reviews-607" data-section-id={sectionId}>
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">{subtitle}</span>
      <h2 class="cs-title">{title}</h2>
      <p class="cs-text">
        {description}
      </p>
    </div>
    <ul class="cs-card-group">
      {#each reviews as review}
        <li class="cs-item">
          <p class="cs-item-text">
            {@html review.description
              ?.substring(0, 255)
              .replace(/(<([^>]+)>)/gi, "") + "..."}
          </p>
          <div class="star-group">
            <img
             loading="lazy"
              alt={googleIcon.alt}
              decoding="async"
              height="40"
              src={googleIcon.url}
              width="40"
              class="googleimg"
            />
            <span class="name">{review.name}</span><picture class="stars"
              ><img
                alt={stars.alt}
                decoding="async"
                height="15"
                src={stars.url}
                width="91"
                aria-hidden="true"
                loading="lazy"
              /></picture
            >
          </div>
        </li>
      {/each}
    </ul>
    <a href={button.url} class="cs-button-solid" on:click={() => currentNavItem.set('testimonials')}>{button.title}</a>
  </div>
</section>

<style>
  .cs-container .cs-item {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    margin: auto;
    max-width: 35em;
    margin-bottom: 1em;
    border-radius: 0.25em;
  }

  .cs-container .cs-item .star-group {
    border-top: 2px solid rgba(115,178,26, 0.3);
    padding-top: 0.8em;
    padding-top: 0.8em;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: auto;
  }

  .cs-container .cs-item .star-group .name {
    font-size: 0.9em;
    line-height: 1.33333333em;
    text-align: left;
    font-weight: bold;
    display: block;
  }

  .cs-container .cs-item .star-group .googleimg {
    display: block;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 50%;
  }

  .cs-container .cs-item .star-group .stars {
    margin-left: auto;
  }

  .cs-container .cs-item .star-group img {
    display: block;
    width: 4.55em;
    height: 0.75em;
    margin: 0;
  }

  @media only screen and (min-width: 0rem) {
    #reviews-607 .cs-item-text {
      margin: 0 0 1.5rem;
    }
  }

  @media only screen and (min-width: 0rem) {
    #reviews-607 .cs-item {
      padding: clamp(-20rem, 5vw, 3rem) clamp(1rem, 4vw, 2rem);
    }
  }
</style>
