<script>
    import { currentNavItem } from '../scripts/currentNavItem.js';
    export let subtitle, title, description, listTitle, list1, list2, list3, list4, button, picture1, picture2, picture3, picture4, picture5, picture6, waves;
</script>
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1255">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">{subtitle}</span>
            <h2 class="cs-title">{title}</h2>
            <p class="cs-text">
               {description}
            </p>
            <p class="cs-text"><i>{listTitle}</i></p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-li-img" loading="lazy" decoding="async" src="{list1.icon}" alt="{list1.altText}" width="26" height="28" aria-hidden="true">
                    {list1.title}
                </li>
                <li class="cs-li">
                    <img class="cs-li-img" loading="lazy" decoding="async" src="{list2.icon}" alt="{list2.altText}" width="26" height="28" aria-hidden="true">
                    {list2.title}
                </li>
                <li class="cs-li">
                    <img class="cs-li-img" loading="lazy" decoding="async" src="{list3.icon}" alt="{list3.altText}" width="26" height="28" aria-hidden="true">
                    {list3.title}
                </li>
                <li class="cs-li">
                    <img class="cs-li-img" loading="lazy" decoding="async" src="{list4.icon}" alt="{list4.altText}" width="26" height="28" aria-hidden="true">
                    {list4.title}
                </li>
            </ul>
            <a href="{button.url}" class="cs-button-solid" on:click={() => currentNavItem.set('contact')}>{button.title}</a>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{picture1.image_m.url}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{picture1.image_t.url}">
                <img loading="lazy" decoding="async" src="{picture1.image.url}" alt="{picture1.image.alt}" width="203" height="203">
            </picture>
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{picture2.image_m.url}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{picture2.image_t.url}">
                <img loading="lazy" decoding="async" src="{picture2.image.url}" alt="{picture2.image.alt}" width="207" height="207">
            </picture>
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{picture3.image_m.url}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{picture3.image_t.url}">
                <img loading="lazy" decoding="async" src="{picture3.image.url}" alt="{picture3.image.alt}" width="214" height="214">
            </picture>
            <picture class="cs-picture cs-picture4">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{picture4.image_m.url}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{picture4.image_t.url}">
                <img loading="lazy" decoding="async" src="{picture4.image.url}" alt="{picture4.image.alt}" width="223" height="223">
            </picture>
            <picture class="cs-picture cs-picture5">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{picture5.image_m.url}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{picture5.image_t.url}">
                <img loading="lazy" decoding="async" src="{picture5.image.url}" alt="{picture5.image.alt}" width="287" height="287">
            </picture>
            <picture class="cs-picture cs-picture6">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{picture6.image_m.url}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{picture6.image_t.url}">
                <img loading="lazy" decoding="async" src="{picture6.image.url}" alt="{picture6.image.alt}" width="203" height="203">
            </picture>
            <!--Stripe background-->
            <picture class="cs-waves-wrapper">
                <img class="cs-waves" loading="lazy" decoding="async" src="{waves.icon}" alt="{waves.altText}" width="650" height="933" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>
<style>
    /*-- -------------------------- -->
<---    Side By Side  1255        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1255 {
      padding: var(--sectionPadding);
      overflow: hidden;
      padding-top: 10em;
  }
  #sbs-1255 .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1255 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      /* changes to 433px at desktop */
      max-width: 33.875rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
  }

  #sbs-1255 .cs-text {
      margin-bottom: 1rem;
  }
  #sbs-1255 .cs-text:last-of-type {
      margin-bottom: 2rem;
  }
  #sbs-1255 .cs-ul {
      max-width: 39.375rem;
      margin: 0 0 2rem 0;
      padding: 0;
      /* clips the bullets to create the half circle */
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;
  }
  #sbs-1255 .cs-li {
      list-style: none;
      margin: 0;
      color: var(--bodyTextColor);
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.75rem;
      position: relative;
  }
  
  #sbs-1255 .cs-image-group {
      /* scales the whole group based on the view width size and stop when that vales equals .845em, resets at desktop */
      font-size: min(2.207vw, 0.845em);
      width: 40.625em;
      height: 41.125em;
      display: block;
      position: relative;
      z-index: 1;
  }
  #sbs-1255 .cs-picture {
      border-radius: 0.25rem;
      overflow: hidden;
      position: absolute;
  }
  #sbs-1255 .cs-picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
  }
  #sbs-1255 .cs-picture1 {
      width: 12.6875em;
      height: 12.6875em;
      top: 1.25em;
      left: 1.125em;
  }
  #sbs-1255 .cs-picture2 {
      width: 13em;
      height: 13em;
      top: 0;
      left: 14.0625em;
  }
  #sbs-1255 .cs-picture3 {
      width: 13.375em;
      height: 13.375em;
      top: 1.5625em;
      right: 0;
  }
  #sbs-1255 .cs-picture4 {
      width: 14em;
      height: 14em;
      top: 14.1875em;
      left: 0;
  }
  #sbs-1255 .cs-picture5 {
      width: 29.9375em;
      height: 28.9375em;
      box-shadow: 0px 24px 122px 0px rgba(0, 0, 0, 0.78);
      top: 12.9375em;
      left: 12.875em;
      z-index: 10;
  }
  #sbs-1255 .cs-picture6 {
      width: 12.6875em;
      height: 12.6875em;
      bottom: 0;
      left: 0.375em;
  }
  #sbs-1255 .cs-picture7 {
      width: 12.75em;
      height: 12.75em;
      top: 14.1875em;
      right: 1.25em;
  }
  #sbs-1255 .cs-picture8 {
      width: 13.9375em;
      height: 13.9375em;
      bottom: 3.75em;
      left: 15.375em;
  }
  #sbs-1255 .cs-waves-wrapper {
      /* changes to 100% at desktop */
      width: 100vw;
      height: 150%;
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: -1;
      /* changes at desktop */
      transform: translateX(-50%);
  }
  #sbs-1255 .cs-waves-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1255 {
    padding-top: 14em;
  }
  #sbs-1255 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  #sbs-1255 .cs-image-group {
      font-size: min(1.2vw, 1em);
      flex: none;
  }
  #sbs-1255 .cs-waves-wrapper {
      width: 100%;
      bottom: 50%;
      transform: translate(-50%, 50%);
  }
}
</style>