<script>
    export let sections;
</script>
<!-- ============================================ -->
<!--                 Side by Side                 -->
<!-- ============================================ -->

<section id="sbs-1901">
    <div class="cs-container">
        {#each sections as section, index}
            <div class="cs-content">
                <picture class="cs-picture cs-picture{index + 1}">
                    <source media="(max-width: 600px)" srcset={section.image.mobile}>
                    <source media="(min-width: 601px)" srcset={section.image.desktop}>
                    <img loading="lazy" 
                         decoding="async" 
                         src={section.image.desktop} 
                         alt={section.image.alt} 
                         width={section.image.width} 
                         height={section.image.height}>
                </picture>
                <div class="cs-wrapper cs-wrapper{index + 1}">
                    <span class="cs-topper">{section.content.topper}</span>
                    <h2 class="cs-title">{section.content.title}</h2>
                    {#each section.content.text as paragraph}
                    <p class="cs-text">
                      {paragraph}
                    </p>
                  {/each}
                    <a class="cs-button-solid" 
                       href={section.content.button.url}
                       aria-label={section.content.button.ariaLabel}>
                        {section.content.button.text}
                    </a>
                </div>
            </div>
        {/each}
    </div>
</section>
<style>
    /*-- -------------------------- -->
<!--        Side by Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1901 {
    padding: var(--sectionPadding);
    /* 128px - 192px */
    /* padding-bottom: clamp(8rem, 14vw, 12rem); */
    overflow-x: clip;
    position: relative;
  }
  #sbs-1901 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1901 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1901 .cs-text {
      margin-bottom: 1rem;
    }
    #sbs-1901 .cs-text:last-of-type {
      margin-bottom: 2rem;
    }
  #sbs-1901 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 2rem 0 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    background-color: var(--primary);
    color: #fff;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #sbs-1901 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-1901 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1901 .cs-picture {
    width: 100%;
    height: 100vw;
    /* 360px - 720px */
    max-height: clamp(22.5rem, 70vw, 45rem);
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-1901 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1901 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbs-1901 .cs-content {
    justify-content: stretch;
  }
  #sbs-1901 .cs-picture {
    /* 540px - 740px */
    min-height: clamp(33.75rem, 40vw, 46.25rem);
    height: 100%;
    max-height: 100%;
  }
  #sbs-1901 .cs-picture2 {
    order: 2;
    height: 100%;
    min-height: 33.75rem;
    max-height: 100%;
  }
  #sbs-1901 .cs-wrapper1 {
    padding-bottom: 4rem;
  }
  #sbs-1901 .cs-wrapper2 {
    padding-top: 6.25rem;
  }
}
</style>
                                