<script>
     import { currentNavItem } from '../scripts/currentNavItem.js';
     export let subtitle, title, description, listTitle, list1, list2, list3, list4, button, picture1, picture2, picture3, picture4;
</script>
<!-- ============================================ -->
<!--                 Side By Side 290             -->
<!-- ============================================ -->

<section id="sbs-290">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="{picture1.image_m.url}">
                <source media="(min-width: 601px)" srcset="{picture1.image.url}">
                <img loading="lazy" decoding="async" src="{picture1.image.url}" alt="{picture1.image.alt}" width="398" height="393" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="{picture2.image_m.url}">
                <source media="(min-width: 601px)" srcset="{picture2.image.url}">
                <img loading="lazy" decoding="async" src="{picture2.image.url}" alt="{picture2.image.alt}" width="320" height="318" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture3">
                <source media="(max-width: 600px)" srcset="{picture3.image_m.url}">
                <source media="(min-width: 601px)" srcset="{picture3.image.url}">
                <img loading="lazy" decoding="async" src="{picture3.image.url}" alt="{picture3.image.alt}" width="325" height="322" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture4">
                <source media="(max-width: 600px)" srcset="{picture4.image_m.url}">
                <source media="(min-width: 601px)" srcset="{picture4.image.url}">
                <img loading="lazy" decoding="async" src="{picture4.image.url}" alt="{picture4.image.alt}" width="264" height="262" aria-hidden="true">
            </picture>
<!--             <a href="" class="cs-play-link" aria-label="play link">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/play.svg" alt="play icon" width="32" height="32" aria-hidden="true">
            </a> -->
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">{subtitle}</span>
            <h2 class="cs-title">{title}</h2>
            <p class="cs-text">
                {description}
            </p>
            <p class="cs-text"><i>{listTitle} </i></p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-li-img" loading="lazy" decoding="async" src="{list1.icon}" alt="{list1.altText}" width="26" height="28" aria-hidden="true">
                    {list1.title}
                </li>
                <li class="cs-li">
                    <img class="cs-li-img" loading="lazy" decoding="async" src="{list2.icon}" alt="{list2.altText}" width="26" height="28" aria-hidden="true">
                    {list2.title}
                </li>
                <li class="cs-li">
                    <img class="cs-li-img" loading="lazy" decoding="async" src="{list3.icon}" alt="{list3.altText}" width="26" height="28" aria-hidden="true">
                    {list3.title}
                </li>
                <li class="cs-li">
                    <img class="cs-li-img" loading="lazy" decoding="async" src="{list4.icon}" alt="{list4.altText}" width="26" height="28" aria-hidden="true">
                    {list4.title}
                </li>
            </ul>
            <a class="cs-button-solid" aria-label="Get a quote" href="{button.url}" on:click={() => currentNavItem.set('contact')}>{button.title}</a>
        </div>
    </div>
</section>
                                