<script>
    import { currentNavItem } from '../scripts/currentNavItem.js';
    export let topper, title, subtitle, description, button, image1, image1_m, image2, image2_m; 
</script>
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1357">
    <div class="cs-container">
        <picture class="cs-picture cs-picture1">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{image1_m.url}">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="{image1.url}">
            <img loading="lazy" decoding="async" src="{image1.url}" alt="{image1.alt}" width="{image1.width}" height="{image1.height}">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">{topper}</span>
            <h2 class="cs-title">{title}</h2>
            <h3 class="cs-h3">
                {subtitle}
            </h3>
            <p class="cs-text">
                {description}
            </p>
            <a href="{button.url}" class="cs-button-solid" on:click={() => currentNavItem.set('contact')}>{button.title}</a>
        </div>
        <picture class="cs-picture cs-picture2">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{image2_m.url}">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="{image2.url}">
            <img loading="lazy" decoding="async" src="{image2.url}" alt="meeting" width="{image2.width}" height="{image2.height}">
        </picture>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>
