<script>
    import { currentNavItem } from '../scripts/currentNavItem.js';
    export let subtitle, title1, title2, description, quote, featureImage1, featureImage2, button;
</script>
<!-- ============================================ -->
<!--             Side By Side Reverse 312        -->
<!-- ============================================ -->

<section id="sbsr-312">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="{featureImage1.image_m.url}">
                <source media="(min-width: 601px)" srcset="{featureImage1.image.url}">
                <img loading="lazy" decoding="async" src="{featureImage1.image.url}" alt="{featureImage1.image.alt}" width="{featureImage1.image.width}" height="{featureImage1.image.height}" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="{featureImage2.image_m.url}">
                <source media="(min-width: 601px)" srcset="{featureImage2.image.url}">
                <img loading="lazy" decoding="async" src="{featureImage2.image.url}" alt="{featureImage2.image.alt}" width="{featureImage2.image.width}" height="{featureImage2.image.height}" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">{subtitle}</span>
            <h2 class="cs-title">{title1} <span style="color: var(--primary)">{title2}</span></h2>
            {#each description as d}
            <p class="cs-text">
                {@html d.paragraph}
            </p>
            {/each}
            <div class="cs-quote">
                <span class="cs-quote-text">
                    {quote.text}
                </span>
                <span class="cs-name">{quote.name}</span>
                <span class="cs-job">{quote.role}</span>
                <img class="cs-quote-icon" loading="lazy" decoding="async" src="media/svg/quote-marks-green.svg" alt="green quote marks" width="136" height="77">
            </div>
            <a href="{button.url}" class="cs-button-solid">{button.title}</a>
        </div>
    </div>
</section>
<style>
    /*-- -------------------------- -->
<--- Side By Side Reverse 312  -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-312 {
      padding: var(--sectionPadding);
      padding-top: 10em;
  }
  #sbsr-312 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-312 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: 33.875rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
  }

  #sbsr-312 .cs-text {
      margin-bottom: 1rem;
  }
  #sbsr-312 .cs-text:last-of-type {
      margin-bottom: 2rem;
  }
  #sbsr-312 .cs-quote {
      margin: 0 0 2rem 0;
      /* 16px - 32px */
      padding: clamp(1rem, 3vw, 2rem);
      background-color: #f7f7f7;
      border-radius: 0.25rem;
      position: relative;
  }
  #sbsr-312 .cs-quote-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      margin: 0 0 1rem;
      color: #767676;
      display: block;
  }
  #sbsr-312 .cs-name {
      font-size: 1rem;
      line-height: 1.2em;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0 0 0.25rem;
      color: var(--headerColor);
      display: block;
  }
  #sbsr-312 .cs-job {
      font-size: 0.875rem;
      line-height: 1.5em;
      color: #767676;
      display: block;
  }
  #sbsr-312 .cs-quote-icon {
      /* 60px - 136px */
      width: clamp(3.75rem, 10vw, 8.5rem);
      height: auto;
      position: absolute;
      bottom: 0rem;
      /* 16px - 32px */
      right: clamp(1rem, 4vw, 2rem);
  }
  #sbsr-312 .cs-image-group {
      /* scaling the font size with the view width */
      font-size: min(2.31vw, 0.7em);
      /* using ems so we can use font size to scale the whole section */
      width: 39.4375em;
      height: 39.75em;
      position: relative;
  }
  #sbsr-312 .cs-picture {
      border-radius: 0.25em;
      /* clips img tag corners */
      overflow: hidden;
      position: absolute;
      display: block;
  }
  #sbsr-312 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* makes image act like a background image */
      object-fit: cover;
  }
  #sbsr-312 .cs-picture1 {
      width: 32.625em;
      height: 36.3125em;
      right: 0;
      top: 0;
  }
  #sbsr-312 .cs-picture2 {
      width: 25.875em;
      height: 25em;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
      /* 6px - 12px */
      border: clamp(0.375em, 1.5vw, 0.75em) solid #ffffff;
      left: 0;
      bottom: 0;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-312 {
    padding-top: 14em;
  }
  #sbsr-312 .cs-container {
      flex-flow: row;
      justify-content: space-between;
      gap: 3.25rem;
  }
  #sbsr-312 .cs-image-group {
      font-size: min(1.2vw, 1em);
      flex: none;
      /* sends it to the right in the 2nd position */
      order: 2;
  }
  #sbsr-312 .cs-content {
      margin: 0;
  }
}
</style>