<script>
  export let image, main_content;
</script>

<section id="sbsr-482">
  <div class="cs-container">
    <picture class="cs-picture">
      <source media="(max-width: 600px)" srcset={image.mobile} />
      <source media="(min-width: 601px)" srcset={image.desktop} />
      <img
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        src={image.desktop}
        alt={image.alt}
        width={image.width}
        height={image.height}
      />
    </picture>
    <div class="cs-content">
      <span class="cs-topper">{main_content.topper}</span>
      <h2 class="cs-title">{main_content.title}</h2>
      {#each main_content.text as paragraph}
        <p class="cs-text">
          {paragraph}
        </p>
      {/each}
      <a
        href={main_content.button.url}
        class="cs-button-solid"
        aria-label={main_content.button.ariaLabel}
      >
        {main_content.button.text}
      </a>
    </div>
  </div>
</section>

<style>
  /*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #sbsr-482 {
      padding: var(--sectionPadding);
      background-color: #f7f7f7;
    }
    #sbsr-482 .cs-container {
      width: 100%;
      /* changes to 1280px at 1024px */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #sbsr-482 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: 39.375rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }
    #sbsr-482 .cs-text {
      margin-bottom: 1rem;
    }
    #sbsr-482 .cs-text:last-of-type {
      margin-bottom: 2rem;
    }
    #sbsr-482 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #sbsr-482 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width 0.3s;
    }
    #sbsr-482 .cs-button-solid:hover:before {
      width: 100%;
    }
    #sbsr-482 .cs-picture {
      width: 100%;
      max-width: 32.625rem;
      height: auto;
      aspect-ratio: 1;
      border-radius: 50%;
      display: block;
      position: relative;
    }
    #sbsr-482 .cs-picture:before {
      /* green shape */
      content: "";
      /* 80px - 164px, changes at 1024px */
      width: clamp(5rem, 20vw, 10.2rem);
      height: clamp(5rem, 20vw, 10.2rem);
      background: var(--primary);
      border: clamp(6px, 2vw, 12px) solid #f7f7f7;
      border-radius: 2rem 2rem 2rem 100%;
      opacity: 1;
      position: absolute;
      display: block;
      /* wrapped in a calc function to multiple the clamp value by -1 to get a negative number */
      bottom: calc(clamp(6px, 2vw, 12px) * -1);
      left: calc(clamp(6px, 2vw, 12px) * -1);
      z-index: 10;
    }
    #sbsr-482 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #sbsr-482 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      justify-content: space-between;
    }
    #sbsr-482 .cs-content {
      width: clamp(46.6%, 45.7vw, 51%);
    }
    #sbsr-482 .cs-picture {
      width: 41%;
      /* sends it to the right in the 2nd position */
      order: 2;
    }
    #sbsr-482 .cs-picture:before {
      /* 125px - 164px */
      width: clamp(7.8125rem, 13vw, 10.2rem);
      height: clamp(7.8215rem, 13vw, 10.2rem);
      border-radius: 2rem 2rem 2rem 50%;
      bottom: -2.25rem;
    }
    #sbsr-482 .cs-picture:after {
      height: 31.25rem;
    }
  }
</style>
