<script>
    import { currentNavItem } from '../scripts/currentNavItem.js';
    export let subtitle, title, description, cta, card1, card2;
  </script>
<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-479">
    <div class="cs-container">
        <div class="cs-left-section">
            <!--Need to have in a wrapper so it's easier to arrange their position at the bottom-->
            <a class="cs-cta" href="{cta.link}" on:click={() => currentNavItem.set('reviews')}>
                <picture class="cs-arrow-wrap">
                    <img class="cs-arrow" aria-hidden="true" src="{cta.icon.url}" loading="lazy" decoding="async" alt="{cta.icon.alt}" width="70" height="70">
                </picture>
                <div class="cs-info">
                    <span class="cs-tag">{cta.title}</span>
                </div>
            </a>
            <!--Background Image-->
            <picture class="cs-background">
                <source media="(max-width: 600px)" srcset="{cta.image_m.url}">
                <source media="(min-width: 601px)" srcset="{cta.image.url}">
                <img aria-hidden="true" loading="lazy" decoding="async" src="{cta.image.url}" alt="{cta.image.alt}" width="625" height="842">
            </picture>
        </div>
        <!--We need to wrap these two in a wrapper so they can be positioned more accurately and easily -->
        <div class="cs-right-section">
            <div class="cs-content">
                <span class="cs-topper">{subtitle}</span>
                <h2 class="cs-title">{title}</h2>
                <p class="cs-text">
                    {description}
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-icon-wrap">
                        <img class="cs-icon" aria-hidden="true" src="{card1.icon.url}" loading="lazy" decoding="async" alt="{card1.icon.alt}" width="30" height="30">
                    </picture>
                    <h3 class="cs-h3">{card1.title}</h3>
                    <p class="cs-item-text">
                       {card1.description}
                    </p>
                    <a href="{card1.link.url}" class="cs-link" on:click={() => currentNavItem.set('services')}>{card1.link.text}</a>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrap">
                        <img class="cs-icon" aria-hidden="true" src="{card2.icon.url}" loading="lazy" decoding="async" alt="{card2.icon.alt}" width="30" height="30">
                    </picture>
                    <h3 class="cs-h3">{card2.title}</h3>
                    <p class="cs-item-text">
                        {card2.description}
                    </p>
                    <a href="{card2.link.url}" class="cs-link" on:click={() => currentNavItem.set('services')}>{card2.link.text}</a>
                </li>
            </ul>
        </div>
    </div>
</section>