<script>
  export let subtitle, title, description;
</script>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-344">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">{subtitle}</span>
      <h2 class="cs-title">{title}</h2>
      <p class="cs-text">
        {description}
      </p>
    </div>
  </div>
</section>

<style>
  /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #services-344 {
      /* centers the button */
      text-align: center;
      padding: var(--sectionPadding);
      padding-top: 10em;
      padding-bottom: 0em;
    }
    #services-344 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #services-344 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }
    #services-344 .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      row-gap: 1rem;
    }
    #services-344 .cs-item {
      list-style: none;
      width: 100%;
      max-width: 31.25rem;
      /* 32px - 40px top & bottom */
      /* 28px - 40px left & right */
      padding: clamp(2rem, 3vw, 2.5rem) clamp(1.75rem, 3vw, 2.5rem);
      border-radius: 1rem;
      border: 1px solid #e8e8e8;
      box-sizing: border-box;
      transition:
        background-color 0.3s,
        transform 0.3s,
        box-shadow 0.3s;
    }
    #services-344 .cs-item:hover {
      background-color: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 50px;
      transform: translateY(-0.4375rem);
    }
    #services-344 .cs-item:hover .cs-picture:before {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
    #services-344 .cs-link {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    #services-344 .cs-picture {
      width: 5rem;
      height: 5rem;
      margin: 0;
      margin-bottom: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #fff5e6;
      position: relative;
      z-index: 1;
    }
    #services-344 .cs-icon {
      height: 2rem;
      width: auto;
    }
    #services-344 .cs-h3 {
      font-size: 1.25rem;
      font-weight: 900;
      text-align: center;
      line-height: 1.2em;
      margin: 0;
      margin-bottom: 0.75rem;
      color: var(--headerColor);
      transition: color 0.3s;
    }
    #services-344 .cs-item-text {
      font-size: 1rem;
      text-align: center;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      transition: color 0.3s;
    }
    #services-344 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #services-344 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width 0.3s;
    }
    #services-344 .cs-button-solid:hover:before {
      width: 100%;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #services-344 {
      padding-top: 14em;
      padding-bottom: 4em;
    }
    #services-344 .cs-card-group {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: nowrap;
      /* 16px - 20px */
      column-gap: clamp(1rem, 2vw, 1.25rem);
    }
  }
</style>
