<script>
  import { currentNavItem } from '../scripts/currentNavItem.js';
  export let title, subtitle, description, serviceOption, option1, option2, option3, icon, link;
</script>
<!-- ============================================ -->
<!--                    Services 1329            -->
<!-- ============================================ -->

<section id="services-1329">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex-group">
        <span class="cs-topper">{subtitle}</span>
        <h2 class="cs-title">{title}</h2>
      </div>
      <p class="cs-text">
        {description} <br><strong>{serviceOption.one} </strong><br> <strong>{serviceOption.two}</strong><br> <strong>{serviceOption.three} </strong> </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a href="." class="cs-link">
          <span class="cs-number">{option1.number}</span>
          <h3 class="cs-h3">{option1.title}</h3>
          <p class="cs-item-text">{option1.subtitle}</p>
        </a>
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="{option1.image_m.url}"
          />
          <source
            media="(min-width: 601px)"
            srcset="{option1.image.url}"
          />
          <img
            decoding="async"
            src="{option1.image.url}"
            alt="{option1.image.alt}"
            width="413"
            height="374"
            aria-hidden="true"
          />
        </picture>
        <!--On Hover Image-->
        <img
          class="cs-arrow"
          loading="lazy"
          decoding="async"
          src="{icon.url}"
          alt="{icon.alt}"
          width="412"
          height="249"
          aria-hidden="true"
        />
      </li>
      <li class="cs-item">
        <a href="." class="cs-link">
          <span class="cs-number">{option2.number}</span>
          <h3 class="cs-h3">{option2.title}</h3>
          <p class="cs-item-text">{option2.subtitle}</p>
        </a>
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="{option2.image_m.url}"
          />
          <source
            media="(min-width: 601px)"
            srcset="{option2.image.url}"
          />
          <img
            decoding="async"
            src="{option2.image.url}"
            alt="{option2.image.alt}"
            width="413"
            height="374"
            aria-hidden="true"
          />
        </picture>
        <!--On Hover Image-->
        <img
          class="cs-arrow"
          loading="lazy"
          decoding="async"
          src="{icon.url}"
          alt="{icon.alt}"
          width="412"
          height="249"
          aria-hidden="true"
        />
      </li>
      <li class="cs-item">
        <a href="." class="cs-link">
          <span class="cs-number">{option3.number}</span>
          <h3 class="cs-h3">{option3.title}</h3>
          <p class="cs-item-text">{option3.subtitle}</p>
        </a>
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="{option3.image_m.url}"
          />
          <source
            media="(min-width: 601px)"
            srcset="{option3.image.url}"
          />
          <img
            decoding="async"
            src="{option3.image.url}"
            alt="{option3.image.alt}"
            width="413"
            height="374"
            aria-hidden="true"
          />
        </picture>
        <!--On Hover Image-->
        <img
          class="cs-arrow"
          loading="lazy"
          decoding="async"
          src="{icon.url}"
          alt="{icon.alt}"
          width="412"
          height="249"
          aria-hidden="true"
        />
      </li>
    </ul>
    <a href="{link.url}" class="cs-button-solid" on:click={() => currentNavItem.set('contact')}>{link.title}</a>
  </div>
</section>
