<script>
  import { currentNavItem } from '../scripts/currentNavItem.js';
  export let subtitle, title, description, cards, button;
</script>
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1168">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">{subtitle}</span>
        <h2 class="cs-title">{title}</h2>
        <p class="cs-text">
            {description}
        </p>
      </div>
      <ul class="cs-card-group">
        {#each cards as card}
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="{card.image_m.url}">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="{card.image_t.url}">
            <img
                  loading="lazy"
                  decoding="async"
                  src="{card.image.url}"
                  alt="{card.image.alt}"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">{card.title}</h3>
            <p class="cs-item-text">
              {card.description}.
            </p>
<!--             <a href="." class="cs-link">
              Read More
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a> -->
          </div>
        </li>
        {/each}
      </ul>
      <a href="{button.url}" class="cs-button-solid" on:click={() => currentNavItem.set('contact')}>{button.title}</a>
    </div>
</section>
