<script>
    export let rating, satisfaction, experience;
</script>
<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-479">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="{rating.icon.url}" loading="lazy" decoding="async" alt="{rating.icon.alt}" width="76" height="66">
                <span class="cs-number">{rating.number}</span>
                <span class="cs-desc">{rating.title}</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="{satisfaction.icon.url}" loading="lazy" decoding="async" alt="{satisfaction.icon.alt}" width="76" height="66">
                <span class="cs-number">{satisfaction.number}</span>
                <span class="cs-desc">{satisfaction.title}</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="{experience.icon.url}" loading="lazy" decoding="async" alt="{experience.icon.alt}" width="76" height="66">
                <span class="cs-number">{experience.number}</span>
                <span class="cs-desc">{experience.title}</span>
            </li>
        </ul>
    </div>
</section>                        


                                