<script>
  export let topper, title, mainImage, backgroundImage, features, ownerProfile;

  // Split features array into two groups for the layout
  $: firstHalf = features.slice(0, 3);
  $: secondHalf = features.slice(3);
</script>

<!-- ============================================ -->
<!--                  Why Choose                  -->
<!-- ============================================ -->

<section id="why-choose-1571">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">{topper}</span>
      <h2 class="cs-title">{title}</h2>
    </div>
    <div class="cs-card-wrapper">
      <ul class="cs-card-group">
        {#each firstHalf as feature}
          <li class="cs-item">
            <picture class="cs-icon-wrapper">
              <img
                class="cs-icon svg-filter"
                loading="lazy"
                decoding="async"
                src={feature.icon.src}
                alt={feature.icon.alt}
                width={feature.icon.width}
                height={feature.icon.height}
                aria-hidden="true"
              />
            </picture>
            <div class="cs-flex">
              <h3 class="cs-h3">{feature.title}</h3>
              <p class="cs-item-text">
                {feature.text}
              </p>
            </div>
          </li>
        {/each}
      </ul>
      <!-- Circular profile section with mask effect -->
      <div class="cs-profile-wrapper">
        <div class="cs-profile-media">
          <picture class="cs-image">
            <source
              media="(max-width: 600px)"
              srcset={ownerProfile.image.mobile}
            />
            <source
              media="(min-width: 601px)"
              srcset={ownerProfile.image.desktop}
            />
            <img
              loading="lazy"
              decoding="async"
              src={ownerProfile.image.desktop}
              alt={ownerProfile.image.alt}
              width={ownerProfile.image.width}
              height={ownerProfile.image.height}
            />
          </picture>
        </div>
        <div class="cs-profile-content">
          <strong>{ownerProfile.name}</strong>
          <span>{ownerProfile.role}</span>
        </div>
      </div>
      <!--             <picture class="cs-image">
                <source media="(max-width: 600px)" srcset={mainImage.mobile}>
                <source media="(min-width: 601px)" srcset={mainImage.desktop}>
                <img loading="lazy" 
                     decoding="async"
                     src={mainImage.desktop} 
                     alt={mainImage.alt}
                     width={mainImage.width} 
                     height={mainImage.height} 
                     aria-hidden="true">
            </picture> -->
      <ul class="cs-card-group">
        {#each secondHalf as feature}
          <li class="cs-item">
            <picture class="cs-icon-wrapper">
              <img
                class="cs-icon svg-filter"
                loading="lazy"
                decoding="async"
                src={feature.icon.src}
                alt={feature.icon.alt}
                width={feature.icon.width}
                height={feature.icon.height}
                aria-hidden="true"
              />
            </picture>
            <div class="cs-flex">
              <h3 class="cs-h3">{feature.title}</h3>
              <p class="cs-item-text">
                {feature.text}
              </p>
            </div>
          </li>
        {/each}
      </ul>
    </div>
  </div>
  <picture class="cs-background">
    <source media="(max-width: 600px)" srcset={backgroundImage.mobile} />
    <source media="(min-width: 601px)" srcset={backgroundImage.desktop} />
    <img
      loading="lazy"
      decoding="async"
      src={backgroundImage.desktop}
      alt={backgroundImage.alt}
      width={backgroundImage.width}
      height={backgroundImage.height}
    />
  </picture>
</section>

<style>
  /*-- -------------------------- -->
<---         Why Choose         -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #why-choose-1571 {
      padding: var(--sectionPadding);
      position: relative;
      z-index: 1;
      overflow: hidden;
    }

    #why-choose-1571 .cs-container {
      width: 100%;
      max-width: 25rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: clamp(3rem, 6vw, 4rem);
    }

    #why-choose-1571 .cs-content {
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #why-choose-1571 .cs-title {
      max-width: 27ch;
      margin: 0;
    }

    #why-choose-1571 .cs-topper {
      color: var(--primary);
    }

    #why-choose-1571 .cs-card-wrapper {
      width: 100%;
      display: grid;
      grid-auto-flow: row;
      column-gap: clamp(1rem, 2vw, 1.25rem);
      row-gap: 2.5rem;
    }

    #why-choose-1571 .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: clamp(1.5rem, 5vw, 3.75rem);
    }

    #why-choose-1571 .cs-item {
      list-style: none;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.25rem;
    }

    #why-choose-1571 .cs-icon-wrapper {
      width: clamp(3.75rem, 5vw, 5rem);
      height: clamp(3.75rem, 5vw, 5rem);
      border: 1px solid var(--primary);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      position: relative;
      overflow: hidden;
      aspect-ratio: 1;
    }

    #why-choose-1571 .cs-icon-wrapper::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--primary);
      opacity: 0.1;
      position: absolute;
      top: 0;
      left: 0;
    }

    #why-choose-1571 .cs-icon {
      width: clamp(1.5rem, 3vw, 2.25rem);
      height: auto;
    }

    #why-choose-1571 .cs-h3 {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.2em;
      margin: 0 0 0.5rem;
      color: var(--headerColor);
    }

    #why-choose-1571 .cs-item-text {
      font-size: 0.875rem;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
    }

    /* Profile Styles */
    #why-choose-1571 .cs-profile-wrapper {
      width: 70vw;
      max-width: 18.75rem;
      margin: auto;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    #why-choose-1571 .cs-profile-media {
      width: 100%;
      aspect-ratio: 1;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
    }

    #why-choose-1571 .cs-profile-media::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--primary);
      opacity: 0.1;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
    }

    #why-choose-1571 .cs-profile-media::after {
      content: "";
      width: 75%;
      height: 75%;
      background-color: var(--primary);
      opacity: 0.3;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    #why-choose-1571 .cs-profile-media img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      position: relative;
      z-index: 1;
      mask: url("../media/images/location/abstract-paint.png") center /
        100% no-repeat;
      transition: mask-size 0.6s ease-in-out;
      transition-delay: 0.20s;
    }

    #why-choose-1571 .cs-profile-wrapper:hover .cs-profile-media img {
      mask-size: 250%;
      transition-delay: 0s;
    }

    #why-choose-1571 .cs-profile-content {
      text-align: center;
      color: var(--headerColor);
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    #why-choose-1571 .cs-profile-content strong {
      font-weight: 700;
      font-size: 1.25rem;
    }

    #why-choose-1571 .cs-profile-content span {
      font-size: 0.875rem;
      color: var(--bodyTextColor);
    }
   /*  #why-choose-1571 .cs-image {
      width: 70vw;
      max-width: 18.75rem;
      height: 70vw;
      max-height: 18.75rem;
      margin: auto;
      display: flex;
      justify-content: center;
      position: relative;
    }
    #why-choose-1571 .cs-image img {
      width: 100%;
      height: 100%;
      max-height: 18.75rem;
      object-fit: contain;
      z-index: 1;
    }
    #why-choose-1571 .cs-image::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--primary);
      opacity: 0.1;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
    }
    #why-choose-1571 .cs-image::after {
      content: "";
      width: 75%;
      height: 75%;
      background-color: var(--primary);
      opacity: 0.3;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    } */
    #why-choose-1571 .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    #why-choose-1571 .cs-background img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }

    #why-choose-1571 .svg-filter {
      filter: invert(56%) sepia(100%) saturate(368%) hue-rotate(43deg)
        brightness(90%) contrast(91%);
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #why-choose-1571 .cs-container {
      max-width: 80rem;
    }

    #why-choose-1571 .cs-card-wrapper {
      align-items: center;
      grid-template-columns: repeat(3, 1fr);
    }

    #why-choose-1571 .cs-item {
      text-align: left;
      align-items: start;
    }
/*     #why-choose-1571 .cs-image {
      width: 30vw;
      max-width: 26.75rem;
      height: 30vw;
      max-height: 26.875rem;
    }
    #why-choose-1571 .cs-image img {
      max-height: 26.875rem;
    } */
    #why-choose-1571 .cs-profile-wrapper {
      width: 30vw;
      max-width: 26.75rem;
    }
  }

  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #why-choose-1571 .cs-item {
      flex-direction: row;
    }
  }
</style>
