:root {
  /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
  --primary: #73b21a;
  --background: #171717;
  --primaryLight: #ffba43;
  --secondary: #ffba43;
  --secondaryLight: #ffba43;
  --headerColor: #1a1a1a;
  --bodyTextColor: #4e4b66;
  --bodyTextColorWhite: #fafbfc;
  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.375rem, 3.9vw, 2.16vw);
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  --column-gutter: 24px;
  --row-gutter: 24px;
  --columns: 3;
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(""), url("./fonts/roboto-v29-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/roboto-v29-latin-regular.woff") format("woff");

  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(""), url("./fonts/roboto-v29-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/roboto-v29-latin-700.woff") format("woff");

  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local(""), url("./fonts/roboto-v29-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/roboto-v29-latin-900.woff") format("woff");

  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Roboto", Arial, sans-serif;
  color: var(--bodyTextColor);
  overflow-x: hidden;
}
*,
*:before,
*:after {
  /* prevents padding from affecting height and width */
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', Arial, sans-serif;
  letter-spacing: .01em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  color: var(--headerColor);
}
.cs-topper {
  font-size: var(--topperFontSize);
  line-height: 1.5em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 0.25rem;
  display: block;
}

.cs-title {
  font-size: var(--headerFontSize);
  font-weight: 800;
  line-height: 1em;
  text-align: inherit;
  max-width: 43.75rem;
  margin: 0 0 1rem 0;
  color: var(--headerColor);
  position: relative;
}

.cs-text {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0;
  color: var(--bodyTextColor);
}

.cs-button-solid {
  font-size: 1rem;
  text-transform: uppercase;
  /* 46px - 56px */
  line-height: clamp(2.875rem, 5.5vw, 3.5rem);
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  margin: auto;
  color: var(--bodyTextColorWhite);
  min-width: 9.375rem;
  margin: 0;
  padding: 0 1.5rem;
  background-color: var(--primary);
  border-radius: 0.25rem;
  display: inline-block;
  position: relative;
  z-index: 1;
  /* prevents padding from adding to the width */
  box-sizing: border-box;
  transition: color 0.3s;
}
.cs-button-solid:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  background: var(--background);
  opacity: 1;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0.25rem;
  transition: width 0.3s;
}
.cs-button-solid:hover {
  color: #fff;
}
.cs-button-solid:hover:before {
  width: 100%;
}
/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

body,
html {
  /* reset margin and padding so there's no gap between the nav and the screen edges */
  margin: 0;
  padding: 0;
}

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  body.cs-open {
    overflow: hidden;
  }
  #cs-navigation {
    width: 100%;
    padding: 0.75rem 1rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: var(--background);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 100;
  }
  #cs-navigation:after {
    /* on hover green bar */
    content: "";
    width: 40%;
    max-width: 9.125rem;
    height: 100%;
    background: var(--background);
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0%;
    z-index: -1;
    transition: width 0.2s, max-width 0.3s, background-color 0.3s;
  }
  #cs-navigation:before {
    content: "";
    width: 0%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: -11;
    transition: width 0.5s, opacity 0.3s;
  }
  #cs-navigation.cs-active:after {
    width: 100%;
    max-width: 100%;
    background-color: var(--background);
  }
  #cs-navigation.cs-active:before {
    width: 100%;
    opacity: 1;
  }
  #cs-navigation.cs-active .cs-top-bar {
    z-index: initial;
  }
  #cs-navigation.cs-active .cs-top-bar:before {
    display: none;
  }
  #cs-navigation.cs-active .cs-link {
    color: var(--bodyTextColorWhite);
  }
  #cs-navigation.cs-active .cs-ul-wrapper {
    opacity: 1;
    transform: scaleX(1);
    transition-delay: 0.2s;
  }
  #cs-navigation.cs-active .cs-li {
    transform: translateX(0);
    opacity: 1;
  }
  #cs-navigation.scroll .cs-top-bar {
    height: 0;
    opacity: 0;
    padding-bottom: 0;
    overflow: hidden;
  }
  #cs-navigation.scroll .cs-top-bar:before {
    opacity: 0;
  }
  #cs-navigation.scroll .cs-toggle {
    margin-top: 0;
  }
  #cs-navigation .cs-top-bar {
    margin: 0;
    padding: 0 0 0.75rem 0;
    position: relative;
    transition: height 0.3s, padding-bottom 0.3s, opacity 0.3s;
    z-index: -3;
  }
  #cs-navigation .cs-top-bar:before {
    /* grey line */
    content: "";
    width: 100%;
    height: 1px;
    background: #eff1f0;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0;
    right: -1rem;
    z-index: -2;
    transition: opacity 0.3s;
  }
  #cs-navigation .cs-logo {
    width: 40%;
    max-width: 9.125rem;
    height: 100%;
    padding: 0.75rem 1rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  #cs-navigation .cs-logo img {
    width: 100%;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
    /* places the image to the left edge of the parent */
    object-position: left;
  }
  #cs-navigation .cs-item {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  #cs-navigation .cs-remove {
    display: none;
  }
  #cs-navigation .cs-picture {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 50%;
    background-color: #eff1f0;
    display: none;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
  }
  #cs-navigation .cs-icon {
    width: 1rem;
    height: auto;
    display: block;
  }
  #cs-navigation .cs-header {
    display: none;
  }
  #cs-navigation .cs-link {
    font-size: 0.78rem;
    line-height: 1.5em;
    text-align: inherit;
    text-decoration: none;
    margin: 0;
    color:  var(--bodyTextColorWhite);
    display: block;
    transition: color 0.3s;
  }
  #cs-navigation .cs-toggle {
    /* 44px - 48px */
    width: clamp(2.75rem, 6vw, 3rem);
    height: clamp(2.75rem, 6vw, 3rem);
    margin: 0.75rem 0 0 auto;
    border-radius: 0.25rem;
    background-color: var( --primary);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cs-navigation .cs-active .cs-line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(225deg);
  }
  #cs-navigation .cs-active .cs-line2 {
    top: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
  }
  #cs-navigation .cs-active .cs-line3 {
    bottom: 100%;
    opacity: 0;
  }
  #cs-navigation .cs-box {
    /* 24px - 28px */
    width: clamp(1.5rem, 2vw, 1.75rem);
    /* 14px - 16px */
    height: clamp(0.875rem, 1.5vw, 1rem);
    position: relative;
  }
  #cs-navigation .cs-line {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #cs-navigation .cs-line1 {
    top: 0;
    transform-origin: center;
    transition: transform 0.5s, top 0.3s, left 0.3s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }
  #cs-navigation .cs-line2 {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: top 0.3s, left 0.3s, transform 0.5s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }
  #cs-navigation .cs-line3 {
    bottom: 0;
    transition: bottom 0.3s, opacity 0.3s;
  }
  #cs-navigation .cs-ul-wrapper {
    height: 100vh;
    opacity: 0;
    background-color: #fff;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: auto;
    right: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: top right;
    transition: transform 0.4s, opacity 0.3s;
  }
  #cs-navigation .cs-ul {
    margin: 0;
    /* 28px - 40px */
    padding: 3rem clamp(1.75rem, 3vw, 2.5rem) 2rem 4.375rem;
    width: auto;
    min-width: 40%;
    height: 65vh;
    overflow: scroll;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.25rem;
  }
  #cs-navigation .cs-li {
    text-align: right;
    list-style: none;
    width: 100%;
    margin-right: 0;
    /* transition from these values */
    transform: translateX(-2.5rem);
    opacity: 0;
    transition: transform 0.6s, opacity 0.9s;
  }
  #cs-navigation .cs-li:nth-of-type(1) {
    transition-delay: 0.05s;
  }
  #cs-navigation .cs-li:nth-of-type(2) {
    transition-delay: 0.1s;
  }
  #cs-navigation .cs-li:nth-of-type(3) {
    transition-delay: 0.15s;
  }
  #cs-navigation .cs-li:nth-of-type(4) {
    transition-delay: 0.2s;
  }
  #cs-navigation .cs-li:nth-of-type(5) {
    transition-delay: 0.25s;
  }
  #cs-navigation .cs-li:nth-of-type(6) {
    transition-delay: 0.3s;
  }
  #cs-navigation .cs-li:nth-of-type(7) {
    transition-delay: 0.35s;
  }
  #cs-navigation .cs-li:nth-of-type(8) {
    transition-delay: 0.4s;
  }
  #cs-navigation .cs-li:nth-of-type(9) {
    transition-delay: 0.45s;
  }
  #cs-navigation .cs-li-link {
    /* 16px - 24px */
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    line-height: 1.2em;
    text-decoration: none;
    margin: 0;
    color: var(--headerColor);
    display: inline-block;
    position: relative;
  }
  #cs-navigation .cs-li-link:before {
    /* active state underline */
    content: "";
    width: 100%;
    height: 1px;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: none;
    bottom: -0.125rem;
    left: 0;
  }
  #cs-navigation .cs-li-link.cs-active:before {
    display: block;
  }
  #cs-navigation .cs-button-solid {
    display: none;
  }
}
/* Tablet - 650px - 1023px */
@media only screen and (min-width: 40.625rem) and (max-width: 63.9375rem) {
  #cs-navigation .cs-top-bar {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
  #cs-navigation .cs-item {
    position: relative;
  }
  #cs-navigation .cs-item:nth-of-type(2):after {
    display: none;
  }
  #cs-navigation .cs-item:after {
    /* divider line */
    content: "";
    width: 1px;
    height: 100%;
    margin: 0 1rem;
    background: #eff1f0;
    opacity: 1;
    position: relative;
    display: block;
  }
  #cs-navigation .cs-picture {
    display: flex;
  }
  #cs-navigation .cs-ul {
    padding-top: 9.375rem;
    gap: 2rem;
  }
  #cs-navigation .cs-li-link {
    font-size: 1rem;
  }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-navigation {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: var(--headerColor);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 10000;
    transition: padding-top 0.3s;
  }
  #cs-navigation.scroll {
    padding-top: 0;
  }
  #cs-navigation.scroll .cs-top-bar {
    height: 0;
    opacity: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    overflow: hidden;
    transform: translateY(-3.125rem);
  }
  #cs-navigation.scroll .cs-top-bar:before {
    width: 0;
  }
  #cs-navigation.scroll .cs-toggle {
    margin-top: 0;
  }
  #cs-navigation .cs-toggle {
    display: none;
  }
  #cs-navigation .cs-logo {
    width: 18.4%;
    max-width: 20rem;
    height: 100%;
    /* 32px - 48px */
    padding: 1rem clamp(2rem, 3vw, 3rem);
    background-color: var(--background);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
  #cs-navigation .cs-logo img {
    width: 100%;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
  }
  #cs-navigation .cs-top-bar {
    width: 100%;
    margin: 0;
    padding: 0 0 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    transition: height 0.3s, opacity 0.3s, padding-bottom 0.3s,
      margin-bottom 0.3s, transform 0.3s;
  }
  #cs-navigation .cs-top-bar:before {
    /* grey line */
    content: "";
    width: 100%;
    height: 1px;
    background: #eff1f0;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0;
    right: -1rem;
    z-index: -2;
    transition: width 0.3s;
  }
  #cs-navigation .cs-item {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
  #cs-navigation .cs-item:last-of-type:after {
    display: none;
  }
  #cs-navigation .cs-item:hover .cs-picture {
    transform: scale(1.1);
  }
  #cs-navigation .cs-item:after {
    /* divider line */
    content: "";
    width: 1px;
    height: 3rem;
    /* 24px - 44px */
    margin: 0 clamp(1.5rem, 5vw, 2.75rem);
    background: #eff1f0;
    opacity: 1;
    position: relative;
    display: block;
  }
  #cs-navigation .cs-picture {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    border-radius: 50%;
    background-color: #eff1f0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
  }
  #cs-navigation .cs-icon {
    width: 1.5rem;
    height: auto;
    display: block;
  }
  #cs-navigation .cs-header {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    color: var(--bodyTextColorWhite);
    display: block;
  }
  #cs-navigation .cs-link {
    font-size: 0.875rem;
    line-height: 1.5em;
    text-align: inherit;
    text-decoration: none;
    margin: 0;
    color: var(--bodyTextColorWhite);
    display: block;
    transition: color 0.3s;
  }
  #cs-navigation .cs-link:hover {
    text-decoration: underline;
  }
  #cs-navigation .cs-bottom-bar {
    width: 100%;
    /* 235px - 420px */
    padding: 0 0 0 clamp(14.6875rem, 23vw, 26.25rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  #cs-navigation .cs-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* 20px - 36px */
    gap: clamp(1.25rem, 2.6vw, 2.25rem);
  }
  #cs-navigation .cs-li {
    list-style: none;
    padding: 2rem 0;
    /* prevent flexbox from squishing it */
    flex: none;
  }
  #cs-navigation .cs-li:last-of-type {
    /* pushes the button to the far roght */
    margin-left: auto;
    padding: 0;
  }
  #cs-navigation .cs-li-link {
    /* 14px - 16px */
    font-size: clamp(0.9rem, 1vw, 1rem);
    line-height: 1.7em;
    text-decoration: none;
    margin: 0;
    color: var(--bodyTextColorWhite);
    display: block;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  #cs-navigation .cs-li-link:hover:before {
    width: 100%;
  }
  #cs-navigation .cs-li-link.cs-active:before {
    width: 100%;
  }
  #cs-navigation .cs-li-link:before {
    /* active state underline */
    content: "";
    width: 0%;
    height: 2px;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0rem;
    left: 0;
    transition: width 0.3s;
  }
  #cs-navigation .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: white;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: #73b21a;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #cs-navigation .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #cs-navigation .cs-button-solid:hover:before {
    width: 100%;
  }
  #cs-navigation .cs-nav-button:hover {
    margin-left: auto;
    color: #73b21a;
  }
  #cs-navigation .cs-nav-button:hover:before {
    background-color: white;
  }
  #cs-navigation .cs-nav-button {
    display: none;
    margin-left: auto;
    border-radius: 0;
  }
}
/* Large Desktop */
@media only screen and (min-width: 81.25rem) {
  #cs-navigation .cs-nav-button {
    display: block;
  }
}

/*-- -------------------------- -->
<---            Hero 288        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-288 {
    /* centers button */
    text-align: center;
    /* 192px - 164px top */
    /* 60px - 100px  bottom */
    padding: clamp(12rem, 23vw, 15.5rem) 1rem clamp(3.75rem, 7.82vw, 6.25rem);
    position: relative;
    background-color: #f7f7f7;
  }
  #hero-288 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #hero-288 .cs-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #hero-288 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.0rem, 2vw, 1.8125rem);
    font-weight: 900;
    line-height: 1em;
    text-align: center;
    max-width: 43.75rem;
    margin: 0 auto 1rem;
    color: var(--headerColor);
    position: relative;
  }
  #hero-288 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    line-height: 1.5em;
    text-align: center;
    width: 100%;
    max-width: 33.1875rem;
    margin: 0;
    /* 28px - 40px */
    margin-bottom: clamp(1.75rem, 3.92vw, 2.5rem);
    color: var(--bodyTextColor);
  }
 
  #hero-288 .cs-stats-group {
    max-width: 32.625rem;
    margin: 0;
    /* 40px - 98px */
    margin-top: clamp(2.5rem, calc(7.3vw), 6.125rem);
    /* 40px - 48px */
    margin-bottom: clamp(2.5rem, 10vw, 3rem);
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* 20px - 40px */
    column-gap: clamp(1.25rem, 5.9vw, 2.5rem);
  }
  #hero-288 .cs-item {
    list-style: none;
    width: auto;
  }
  #hero-288 .cs-number {
    /* 25px - 49px */
    font-size: clamp(1.5625rem, 3.8vw, 3.0625rem);
    line-height: 1.2em;
    font-weight: 700;
    color: var(--headerColor);
    display: block;
  }
  #hero-288 .cs-desc {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 2.1vw, 1rem);
    line-height: 1.5em;
    color: #767676;
  }
  #hero-288 .cs-picture {
    width: 100%;
    max-width: 36.5625rem;
    /* 380px - 453px */
    height: clamp(23.75rem, 59vw, 28.3215rem);
    border-radius: 0.25rem;
    /* clips the img tag corners */
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 3;
  }
  #hero-288 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act as a background image */
    object-fit: cover;
  }
  #hero-288 .cs-waves {
    width: 100%;
    height: 30%;
    background-color: var(--primary);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  #hero-288 .cs-waves img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act as a background image */
    object-fit: cover;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-288 {
    text-align: left;
  }
  #hero-288 .cs-container {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 3.25rem;
  }
  #hero-288 .cs-content {
    width: 45%;
    /* prevents flex-box from squishing it */
    flex: none;
    align-items: flex-start;
  }
  #hero-288 .cs-title {
    font-size: clamp(2.4375rem, 3vw, 2.8125rem);
    text-align: left;
  }

  #hero-288 .cs-text {
    text-align: left;
  }
  #hero-288 .cs-picture {
    max-width: 39.375rem;
    /* 623px - 814px */
    height: clamp(38.9375rem, 60vw, 50.875rem);
  }
  #hero-288 .cs-waves {
    height: 100%;
    width: calc(49vw);
    left: 50%;
    margin-left: 12.5rem;
  }
}
