@view-transition {
  navigation: auto;
}
:root {
  /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
  --primary: #73b21a;
  --background: #171717;
  --primaryLight: #ffba43;
  --secondary: #ffba43;
  --secondaryLight: #ffba43;
  --headerColor: #1a1a1a;
  --bodyTextColor: #4e4b66;
  --bodyTextColorWhite: #fafbfc;
  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.575rem, 3.9vw, 2.16vw);
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  --column-gutter: 24px;
  --row-gutter: 24px;
  --columns: 3;
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(""), url("./fonts/roboto-v29-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/roboto-v29-latin-regular.woff") format("woff");

  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(""), url("./fonts/roboto-v29-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/roboto-v29-latin-700.woff") format("woff");

  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local(""), url("./fonts/roboto-v29-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/roboto-v29-latin-900.woff") format("woff");

  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Roboto", Arial, sans-serif;
  color: var(--bodyTextColor);
  overflow-x: hidden;
}
*,
*:before,
*:after {
  /* prevents padding from affecting height and width */
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', Arial, sans-serif;
  letter-spacing: .01em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  color: var(--headerColor);
}
.cs-topper {
  font-size: var(--topperFontSize);
  line-height: 1.5em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 0.25rem;
  display: block;
}

.cs-title {
  font-size: var(--headerFontSize);
  font-weight: 800;
  line-height: 1em;
  text-align: inherit;
  max-width: 43.75rem;
  margin: 0 0 1rem 0;
  color: var(--headerColor);
  position: relative;
}

.cs-text {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0;
  color: var(--bodyTextColor);
}

.cs-button-solid {
  font-size: 1rem;
  text-transform: uppercase;
  /* 46px - 56px */
  line-height: clamp(2.875rem, 5.5vw, 3.5rem);
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  margin: auto;
  color: var(--bodyTextColorWhite);
  min-width: 9.375rem;
  margin: 0;
  padding: 0 1.5rem;
  background-color: var(--primary);
  border-radius: 0.25rem;
  display: inline-block;
  position: relative;
  z-index: 2;
  /* prevents padding from adding to the width */
  box-sizing: border-box;
  transition: color 0.3s;
}
.cs-button-solid:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  background: var(--background);
  opacity: 1;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0.25rem;
  transition: width 0.3s;
}
.cs-button-solid:hover {
  color: #fff;
}
.cs-button-solid:hover:before {
  width: 100%;
}
/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

body,
html {
  /* reset margin and padding so there's no gap between the nav and the screen edges */
  margin: 0;
  padding: 0;
}

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  body.cs-open {
    overflow: hidden;
  }
  #cs-navigation {
    width: 100%;
    padding: 0.75rem 1rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: var(--background);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 100;
  }
  #cs-navigation:after {
    /* on hover green bar */
    content: "";
    width: 40%;
    max-width: 9.125rem;
    height: 100%;
    background: var(--background);
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0%;
    z-index: -1;
    transition: width 0.2s, max-width 0.3s, background-color 0.3s;
  }
  #cs-navigation:before {
    content: "";
    width: 0%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: -11;
    transition: width 0.5s, opacity 0.3s;
  }
  #cs-navigation.cs-active:after {
    width: 100%;
    max-width: 100%;
    background-color: var(--background);
  }
  #cs-navigation.cs-active:before {
    width: 100%;
    opacity: 1;
  }
  #cs-navigation.cs-active .cs-top-bar {
    z-index: initial;
  }
  #cs-navigation.cs-active .cs-top-bar:before {
    display: none;
  }
  #cs-navigation.cs-active .cs-link {
    color: var(--bodyTextColorWhite);
  }
  #cs-navigation.cs-active .cs-ul-wrapper {
    opacity: 1;
    transform: scaleX(1);
    transition-delay: 0.2s;
  }
  #cs-navigation.cs-active .cs-li {
    transform: translateX(0);
    opacity: 1;
  }
  #cs-navigation.scroll .cs-top-bar {
    height: 0;
    opacity: 0;
    padding-bottom: 0;
    overflow: hidden;
  }
  #cs-navigation.scroll .cs-top-bar:before {
    opacity: 0;
  }
  #cs-navigation.scroll .cs-toggle {
    margin-top: 0;
  }
  #cs-navigation .cs-top-bar {
    margin: 0;
    padding: 0 0 0.75rem 0;
    position: relative;
    transition: height 0.3s, padding-bottom 0.3s, opacity 0.3s;
    z-index: 0;
  }
/* removed #cs-navigation.cs-top-bar:before  */
  #cs-navigation .cs-logo {
    width: 40%;
    max-width: 9.125rem;
    height: 100%;
    padding: 0.75rem 1rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  #cs-navigation .cs-logo img {
    width: 100%;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
    /* places the image to the left edge of the parent */
    object-position: left;
  }
  #cs-navigation .cs-item {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  #cs-navigation .cs-remove {
    display: none;
  }
  #cs-navigation .cs-picture {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 50%;
    background-color: #eff1f0;
    display: none;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
  }
  #cs-navigation .cs-icon {
    width: 1rem;
    height: auto;
    display: block;
  }
  #cs-navigation .cs-header {
    display: none;
  }
  #cs-navigation .cs-link {
    font-size: 0.78rem;
    line-height: 1.5em;
    text-align: inherit;
    text-decoration: none;
    margin: 0;
    color:  var(--bodyTextColorWhite);
    display: block;
    transition: color 0.3s;
  }
  #cs-navigation .cs-toggle {
    /* 44px - 48px */
    width: clamp(2.75rem, 6vw, 3rem);
    height: clamp(2.75rem, 6vw, 3rem);
    margin: 0.75rem 0 0 auto;
    border-radius: 0.25rem;
    background-color: var( --primary);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cs-navigation .cs-active .cs-line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(225deg);
  }
  #cs-navigation .cs-active .cs-line2 {
    top: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
  }
  #cs-navigation .cs-active .cs-line3 {
    bottom: 100%;
    opacity: 0;
  }
  #cs-navigation .cs-box {
    /* 24px - 28px */
    width: clamp(1.5rem, 2vw, 1.75rem);
    /* 14px - 16px */
    height: clamp(0.875rem, 1.5vw, 1rem);
    position: relative;
  }
  #cs-navigation .cs-line {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #cs-navigation .cs-line1 {
    top: 0;
    transform-origin: center;
    transition: transform 0.5s, top 0.3s, left 0.3s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }
  #cs-navigation .cs-line2 {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: top 0.3s, left 0.3s, transform 0.5s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }
  #cs-navigation .cs-line3 {
    bottom: 0;
    transition: bottom 0.3s, opacity 0.3s;
  }
  #cs-navigation .cs-ul-wrapper {
    height: 100vh;
    opacity: 0;
    background-color: #fff;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: auto;
    right: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: top right;
    transition: transform 0.4s, opacity 0.3s;
  }
  #cs-navigation .cs-ul {
    margin: 0;
    /* 28px - 40px */
    padding: 3rem clamp(1.75rem, 3vw, 2.5rem) 2rem 4.375rem;
    width: auto;
    min-width: 40%;
    height: 65vh;
    overflow: scroll;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.25rem;
  }
  #cs-navigation .cs-li {
    text-align: right;
    list-style: none;
    width: 100%;
    margin-right: 0;
    /* transition from these values */
    transform: translateX(-2.5rem);
    opacity: 0;
    transition: transform 0.6s, opacity 0.9s;
  }
  #cs-navigation .cs-li:nth-of-type(1) {
    transition-delay: 0.05s;
  }
  #cs-navigation .cs-li:nth-of-type(2) {
    transition-delay: 0.1s;
  }
  #cs-navigation .cs-li:nth-of-type(3) {
    transition-delay: 0.15s;
  }
  #cs-navigation .cs-li:nth-of-type(4) {
    transition-delay: 0.2s;
  }
  #cs-navigation .cs-li:nth-of-type(5) {
    transition-delay: 0.25s;
  }
  #cs-navigation .cs-li:nth-of-type(6) {
    transition-delay: 0.3s;
  }
  #cs-navigation .cs-li:nth-of-type(7) {
    transition-delay: 0.35s;
  }
  #cs-navigation .cs-li:nth-of-type(8) {
    transition-delay: 0.4s;
  }
  #cs-navigation .cs-li:nth-of-type(9) {
    transition-delay: 0.45s;
  }
  #cs-navigation .cs-li-link {
    /* 16px - 24px */
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    line-height: 1.2em;
    font-weight: 700;
    text-decoration: none;
    margin: 0;
    color: var(--headerColor);
    display: inline-block;
    position: relative;
  }
  #cs-navigation .cs-li-link:before {
    /* active state underline */
    content: "";
    width: 100%;
    height: 1px;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: none;
    bottom: -0.125rem;
    left: 0;
  }
  #cs-navigation .cs-li-link.cs-active:before {
    display: block;
  }
  #cs-navigation .cs-button-solid {
    display: none;
  }
}
/* Tablet - 650px - 1023px */
@media only screen and (min-width: 40.625rem) and (max-width: 63.9375rem) {
  #cs-navigation .cs-top-bar {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
  #cs-navigation .cs-item {
    position: relative;
  }
  #cs-navigation .cs-item:nth-of-type(2):after {
    display: none;
  }
  #cs-navigation .cs-item:after {
    /* divider line */
    content: "";
    width: 1px;
    height: 100%;
    margin: 0 1rem;
    background: rgba(255,255,255, .2);
    opacity: 1;
    position: relative;
    display: block;
  }
  #cs-navigation .cs-picture {
    display: flex;
  }
  #cs-navigation .cs-ul {
    padding-top: 9.375rem;
    gap: 2rem;
  }
  #cs-navigation .cs-li-link {
    font-size: 1rem;
  }
}
/*-- -------------------------- -->
<---     Navigation Dropdown    -->
<--- -------------------------- -*/
/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  #cs-navigation .cs-li {
    text-align: center;
    width: 100%;
    display: block;
  }
  #cs-navigation .cs-dropdown {
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #cs-navigation .cs-dropdown.cs-active .cs-drop-ul {
    height: auto;
    margin: 0.75rem 0 0 0;
    padding: 0.75rem 0;
    opacity: 1;
    visibility: visible;
  }
  #cs-navigation .cs-dropdown.cs-active .cs-drop-link {
    opacity: 1;
  }
  #cs-navigation .cs-dropdown .cs-li-link {
    position: relative;
    transition: opacity 0.3s;
  }
  #cs-navigation .cs-drop-icon {
    width: 0.9375rem;
    height: auto;
    position: absolute;
    top: 50%;
    right: -1.25rem;
    transform: translateY(-50%);
    https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg
  }
  #cs-navigation .svg-filter {
    filter: invert(56%) sepia(100%) saturate(368%) hue-rotate(43deg)
      brightness(90%) contrast(91%);
  }
  #cs-navigation .cs-drop-ul {
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    overflow: hidden;
    opacity: 0;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    transition: padding 0.3s, margin 0.3s, height 0.3s, opacity 0.3s, visibility 0.3s;
  }
  #cs-navigation .cs-drop-li {
    list-style: none;
  }
  #cs-navigation .cs-li-link.cs-drop-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    color: #fff;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-navigation .cs-dropdown {
    position: relative;
  }
  #cs-navigation .cs-dropdown:hover {
    cursor: pointer;
  }
  #cs-navigation .cs-dropdown:hover .cs-drop-ul {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }
  #cs-navigation .cs-dropdown:hover .cs-drop-li {
    opacity: 1;
    transform: translateY(0);
  }
  #cs-navigation .cs-drop-icon {
    width: 0.9375rem;
    height: auto;
    display: inline-block;
  }
  #cs-navigation .cs-drop-ul {
    min-width: 12.5rem;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
    opacity: 0;
    border-bottom: 5px solid var(--primary);
    visibility: hidden;
    /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the cs-drop-li so they don't have weird scattered animations */
    position: absolute;
    top: 100%;
    z-index: -100;
    transform: scaleY(0);
    transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
    transform-origin: top;
  }
  #cs-navigation .cs-drop-li {
    font-size: 1rem;
    text-decoration: none;
    list-style: none;
    width: 100%;
    height: auto;
    color: var(--bodyTextColor);
    opacity: 0;
    display: block;
    transform: translateY(-10/16rem);
    transition: opacity 0.6s, transform 0.6s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(1) {
    transition-delay: 0.05s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(2) {
    transition-delay: 0.1s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(3) {
    transition-delay: 0.15s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(4) {
    transition-delay: 0.2s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(5) {
    transition-delay: 0.25s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(6) {
    transition-delay: 0.3s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(7) {
    transition-delay: 0.35s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(8) {
    transition-delay: 0.4s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(9) {
    transition-delay: 0.45s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(10) {
    transition-delay: 0.5s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(11) {
    transition-delay: 0.55s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(12) {
    transition-delay: 0.6s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(13) {
    transition-delay: 0.65s;
  }
  #cs-navigation .cs-li-link.cs-drop-link {
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    padding: 0.75rem;
    color: var(--bodyTextColor);
    display: block;
    transition: color 0.3s, background-color 0.3s;
  }
/*   #cs-navigation .cs-li-link.cs-drop-link:hover {
    background-color: #f7f7f7;
    color: var(--headerColor);
  } */
  #cs-navigation .cs-li-link.cs-drop-link:before {
    display: none;
  }
      /* Add padding to create more hover space */
      #cs-navigation .cs-dropdown .cs-li-link {
        /* padding: 2rem 1rem; */
        /* Ensures consistent spacing */
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    #cs-navigation .cs-dropdown .cs-drop-ul {
      min-width: 12.5rem;
      margin: 0;
      padding: 0.5rem 0;
      background-color: var(--background);
      position: absolute;
      top: 100%;
      left: 0;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-0.5rem);
      transition: 
          opacity 0.3s ease, 
          visibility 0.3s ease, 
          transform 0.3s ease;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      border-bottom: 5px solid var(--primary);
      z-index: 1000;
  }
   /* Add a pseudo-element to bridge any gap */
   #cs-navigation .cs-dropdown:after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
    height: 1rem;
    background: transparent;
}
#cs-navigation .cs-drop-li {
  opacity: 1;
  transform: none;
}

#cs-navigation .cs-li-link.cs-drop-link {
  padding: 0.75rem 1.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#cs-navigation .cs-li-link.cs-drop-link:hover {
  color: var(--bodyTextColorWhite);
}
}
/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-navigation {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: var(--background);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 10000;
    transition: padding-top 0.3s;
  }
  #cs-navigation.scroll {
    padding-top: 0;
  }
  #cs-navigation.scroll .cs-top-bar {
    height: 0;
    opacity: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    overflow: hidden;
    transform: translateY(-3.125rem);
  }
  #cs-navigation.scroll .cs-top-bar:before {
    width: 0;
  }
  #cs-navigation.scroll .cs-toggle {
    margin-top: 0;
  }
  #cs-navigation .cs-toggle {
    display: none;
  }
  #cs-navigation .cs-logo {
    width: 18.4%;
    max-width: 20rem;
    height: 100%;
    /* 32px - 48px */
    padding: 1rem clamp(2rem, 3vw, 3rem);
    background-color: var(--background);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
  #cs-navigation .cs-logo img {
    width: 100%;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
  }
  #cs-navigation .cs-top-bar {
    width: 100%;
    margin: 0;
    padding: 0 0 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    transition: height 0.3s, opacity 0.3s, padding-bottom 0.3s,
      margin-bottom 0.3s, transform 0.3s;
  }
  #cs-navigation .cs-top-bar:before {
    /* grey line */
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(255,255,255, .2);
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0;
    right: -1rem;
    z-index: -2;
    transition: width 0.3s;
  }
  #cs-navigation .cs-item {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
  #cs-navigation .cs-item:last-of-type:after {
    display: none;
  }
  #cs-navigation .cs-item:hover .cs-picture {
    transform: scale(1.1);
  }
  #cs-navigation .cs-item:after {
    /* divider line */
    content: "";
    width: 1px;
    height: 3rem;
    /* 24px - 44px */
    margin: 0 clamp(1.5rem, 5vw, 2.75rem);
    background: rgba(255,255,255, .2);
    opacity: 1;
    position: relative;
    display: block;
  }
  #cs-navigation .cs-picture {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    border-radius: 50%;
    background-color: #eff1f0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
  }
  #cs-navigation .cs-icon {
    width: 1.5rem;
    height: auto;
    display: block;
  }
  #cs-navigation .cs-header {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    color: var(--bodyTextColorWhite);
    display: block;
  }
  #cs-navigation .cs-link {
    font-size: 0.875rem;
    line-height: 1.5em;
    text-align: inherit;
    text-decoration: none;
    margin: 0;
    color: var(--bodyTextColorWhite);
    display: block;
    transition: color 0.3s;
  }
  #cs-navigation .cs-link:hover {
    text-decoration: underline;
  }
  #cs-navigation .cs-bottom-bar {
    width: 100%;
    /* 235px - 420px */
    padding: 0 0 0 clamp(14.6875rem, 23vw, 26.25rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  #cs-navigation .cs-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* 20px - 36px */
    gap: clamp(1.25rem, 2.6vw, 2.25rem);
  }
  #cs-navigation .cs-li {
    list-style: none;
    padding: 2rem 0;
    /* prevent flexbox from squishing it */
    flex: none;
  }
  #cs-navigation .cs-li:last-of-type {
    /* pushes the button to the far roght */
    margin-left: auto;
    padding: 0;
  }
  #cs-navigation .cs-li-link {
    /* 14px - 16px */
    font-size: clamp(0.9rem, 1vw, 1rem);
    line-height: 1.7em;
    font-weight: 700;
    text-decoration: none;
    margin: 0;
    color: var(--bodyTextColorWhite);
    display: block;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  #cs-navigation .cs-li-link:hover:before {
    width: 100%;
  }
  #cs-navigation .cs-li-link.cs-active:before {
    width: 100%;
  }
  #cs-navigation .cs-li-link:before {
    /* active state underline */
    content: "";
    width: 0%;
    height: 2px;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0rem;
    left: 0;
    transition: width 0.3s;
  }
  #cs-navigation .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: white;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: #73b21a;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #cs-navigation .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
    background: white;
  }
  #cs-navigation .cs-button-solid:hover:before {
    width: 100%;
  }
  #cs-navigation .cs-nav-button:hover {
    margin-left: auto;
    color: #73b21a;
  }
  #cs-navigation .cs-nav-button:hover:before {
    background-color: white;
  }
  #cs-navigation .cs-nav-button {
    /* display: none; */
    margin-left: auto;
    border-radius: 0.25rem;
  }
}
/* Large Desktop */
@media only screen and (min-width: 81.25rem) {
  #cs-navigation .cs-nav-button {
    display: block;
  }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #footer-1392 {
    padding: var(--sectionPadding);
    /* 80px - 100px */
    padding-top: clamp(5rem, 7vw, 6.25rem);
    background-color: #1a1a1a;
    position: relative;
    z-index: 1;
  }
  #footer-1392 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #footer-1392 .cs-top {
    width: 100%;
    margin-bottom: 2.5rem;
    /* 24px - 64px */
    padding-bottom: clamp(1.5rem, 5vw, 4rem);
    border-bottom: 1px solid #484848;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 24px - 40px */
    gap: clamp(1.25rem, 4vw, 2.5rem);
  }
  #footer-1392 .cs-ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
    /* 24px - 36px */
    column-gap: clamp(1.5rem, 4vw, 2.25rem);
  }
  #footer-1392 .cs-li {
    list-style: none;
  }
  #footer-1392 .cs-link {
    /* 14px - 16px */
    /* font-size: clamp(0.875rem, 1.5vw, 1rem);*/
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: #bababa;
    display: block;
    transition: color 0.3s;
  }
  #footer-1392 .cs-link.cs-active {
    /* 14px - 16px */
    /* font-size: clamp(0.875rem, 1.5vw, 1rem);*/
  /*   line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: #bababa;
    display: block;
    transition: color 0.3s; */
    color: var(--primary);
  }
  #footer-1392 .cs-link:hover {
    color: var(--primary);
  }
  #footer-1392 .cs-logo {
    width: 100%;
    max-width: 13.0625rem;
    height: auto;
    display: block;
  }
  #footer-1392 .cs-logo-img {
    width: 100%;
    height: auto;
    display: block;
  }
  #footer-1392 .cs-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  #footer-1392 .cs-social {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  #footer-1392 .cs-social-li {
    list-style: none;
  }
  #footer-1392 .cs-social-link {
    width: 2rem;
    height: 2rem;
    background-color: #484848;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
  }
  #footer-1392 .cs-social-link:hover {
    background-color: var(--primary);
  }
  #footer-1392 .cs-social-link:hover .cs-social-icon {
    filter: grayscale(1) brightness(1000%);
    opacity: 1;
  }
  #footer-1392 .cs-social-icon {
    width: 0.75rem;
    height: auto;
    display: block;
    opacity: 0.6;
    transition: opacity 0.3s;
  }
  #footer-1392 .cs-copyright {
    font-size: 1rem;
    color: #bababa;
    line-height: 1.5em;
    margin: 0;
    display: block;
  }
  #footer-1392 .cs-copyright-link,
  #footer-1392 .cs-separater {
    font-size: 1rem;
    text-decoration: none;
    color: #bababa;
    transition: color 0.3s;
  }
  #footer-1392 .cs-copyright-link:hover,
  #footer-1392 .cs-separater:hover {
    color: var(--primary);
  }
  #footer-1392 .cs-separater {
    margin: 0 1rem;
    display: inline-block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #footer-1392 .cs-top {
    align-items: flex-start;
  }
  #footer-1392 .cs-bottom {
    flex-direction: row;
    justify-content: center;
  }
  #footer-1392 .cs-flex {
    margin: 0 auto;
  }
  #footer-1392 .cs-social {
    /* sends it to the right in the 3rd position */
    order: 3;
  }
}

/*-- -------------------------- -->
<---          Reviews 355       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-355 {
    padding: var(--sectionPadding);
  }
  #reviews-355 .cs-container {
    width: 100%;
    max-width: 90rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-355 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }

  #reviews-355 .cs-card-group {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.15rem);
  }
  #reviews-355 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 39.375rem;
    margin: 0;
    /* 24px - 32px top & bottom */
    /* 16px - 40px left & right */
    padding: clamp(1.5rem, 3.15vw, 2rem) clamp(1rem, 3.15vw, 2.5rem);
    background-color: #f7f7f7;
    border-radius: 0.25rem;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
  }
  #reviews-355 .cs-quote {
    width: 2.5rem;
    height: auto;
    margin-bottom: 2rem;
    display: block;
  }
  #reviews-355 .cs-review {
    /* 14px - 20px */
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    line-height: 1.5em;
    margin: 0;
    /* 20px - 40px */
    margin-bottom: clamp(1.25rem, 3vw, 2.5rem);
    color: var(--bodyTextColor);
  }
  #reviews-355 .cs-name {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
    margin-top: auto;
    color: var(--headerColor);
    display: block;
  }
  #reviews-355 .cs-job {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-355 .cs-card-group {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }
  #reviews-355 .cs-item {
    width: clamp(31.5%, 30vw, 32.3%);
  }
}

/*-- -------------------------- -->
<---        Stats  479          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-479 {
      padding: var(--sectionPadding);
      background-color: var(--background);
      /* clips the glowing orbs from causing overflow issues when they overflow the container */
      overflow: hidden;
      position: relative;
      z-index: 1;
  }
  #stats-479:before,
  #stats-479:after {
      /* glowing orbs */
      content: "";
      width: 28.3125rem;
      height: 20.8125rem;
      background: #f1f1f4;
      opacity: 0.16;
      -webkit-filter: blur(182px);
      filter: blur(182px);
      position: absolute;
      display: block;
      top: -4.125rem;
      left: -14.1875rem;
      z-index: -1;
  }
  #stats-479:after {
      display: none;
  }
  #stats-479 .cs-container {
      width: 100%;
      max-width: 59.6875rem;
      margin: auto;
  }
  #stats-479 .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 3.75rem;
  }
  #stats-479 .cs-item {
      list-style: none;
      width: 47%;
      max-width: 15rem;
      margin: 0;
      padding: 0 0.75rem;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  #stats-479 .cs-icon {
      /* 50px - 76px */
      width: clamp(3.125rem, 6vw, 4.75rem);
      height: auto;
      margin: 0 0 1.25rem;
      display: block;
  }
  #stats-479 .cs-number {
      /* 31px - 61px */
      font-size: clamp(1.9375rem, 4.3vw, 3.8125rem);
      line-height: 1.2em;
      text-align: center;
      font-weight: 400;
      margin: 0 0 0.25rem 0;
      color: var(--bodyTextColorWhite);
  }
  #stats-479 .cs-desc {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.15rem);
      line-height: 1.5em;
      text-align: center;
      width: 100%;
      color: var(--bodyTextColorWhite);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #stats-479:after {
      display: block;
      left: auto;
      top: 3.5625rem;
      right: -17.5625rem;
  }
  #stats-479 .cs-card-group {
      justify-content: space-between;
  }
}

/*-- -------------------------- -->
<---       Services 479         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-479 {
      padding: var(--sectionPadding);
      /* 60px - 200px */
      padding-top: clamp(3.75em, 11vw, 12.5em);
      /* clips the cs-background section so it doesn't cause any overflow issues when it breaks the container */
      overflow: hidden;
      background-color: #f7f7f7;
  }
  #services-479 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  #services-479 .cs-right-section {
      max-width: 52.75rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* 88px - 118px */
      gap: clamp(5.5rem, 10vw, 7.375rem);
  }
  #services-479 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
  }

  #services-479 .cs-title {
      max-width: 23ch;
  }
  #services-479 .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      /* resets to a clamp at tablet */
      gap: 3.625rem;
  }
  #services-479 .cs-item {
      list-style: none;
      width: 100%;
      /* 24px - 60px left & right */
      padding: 0 clamp(1.5rem, 2vw, 3.75rem) 2.5rem;
      border: 1px solid var(--primary);
      border-radius: 0.25rem;
      box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12);
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      transition: border-color 0.3s;
  }
  #services-479 .cs-item:hover {
      border-color: var(--primary);
  }
  #services-479 .cs-item:hover .cs-icon-wrap {
      transform: scale(1.1);
  }
  #services-479 .cs-item:hover:before {
      opacity: 1;
  }
  #services-479 .cs-item:before {
      /* green border box on hover */
      content: "";
      width: 100%;
      height: 100%;
      background: transparent;
      /* prevent border from affecting height and width */
      box-sizing: border-box;
      border: 3.5px solid var(--primary);
      border-radius: 0.25rem;
      /* prevents the mouse from interacting with it */
      pointer-events: none;
      opacity: 0;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      transition: opacity 0.3s;
  }
  #services-479 .cs-icon-wrap {
      /* 60px - 110px */
      width: clamp(3.75rem, 7vw, 6.875rem);
      height: clamp(3.75rem, 7vw, 6.875rem);
      /* wrapped in a calc funtion to multiple the clamp by a negative number to make its value negative, and multiple it by .5 so it pulls itself by half the height of itself. We copy and pasted the same height clamp. These must be equal every time */
      margin-top: calc(clamp(3.75rem, 7vw, 6.875rem) * -0.5);
      /* 30px - 40px */
      margin-bottom: clamp(1.875rem, 5vw, 2.5rem);
      background-color: #fff;
      border: 2px solid var(--primary);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      /* places it above the hover border box */
      z-index: 10;
      transition: transform 0.3s;
  }
  #services-479 .cs-icon {
      /* 32px - 56px */
      width: clamp(2rem, 5vw, 3.5rem);
      height: auto;
      display: block;
  }
  #services-479 .cs-h3 {
      /* 20px - 31px */
      font-size: clamp(1.25rem, 2vw, 1.9375rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0 0 0.75rem 0;
      color: var(--headerColor);
      transform: translate(uppercase);
  }
  #services-479 .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      font-weight: 400;
      text-align: center;
      /* 12px - 32px */
      margin: 0 0 clamp(0.75rem, 3vw, 2rem);
      color: var(--bodyTextColor);
  }
  #services-479 .cs-link {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      line-height: 1.5em;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      margin: auto 0 0 0;
      color: var(--primary);
      position: relative;
      display: block;
  }
  #services-479 .cs-link:hover:before {
      width: 100%;
  }
  #services-479 .cs-link:before {
      /* green underline on hover */
      content: "";
      width: 0%;
      height: 2px;
      background: currentColor;
      opacity: 1;
      position: absolute;
      display: block;
      bottom: -2px;
      left: 0;
      transition: width 0.3s;
  }
  #services-479 .cs-left-section {
      /* changes at tablet */
      width: 100%;
      /* 48px - 64px, removed at tablet */
      margin-bottom: clamp(3rem, 6vw, 4rem);
      /* removed at tablet */
      padding-top: 12.75rem;
      /* 24px - 40px */
      padding-bottom: clamp(1.5rem, 7vw, 2.5rem);
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      position: relative;
      z-index: 1;
  }
  #services-479 .cs-background {
      /* width and height set in vw units so the grow as the screen grows.  We go over 100vw so they are long enough push outside the cs-container, passed the section padding, and off screen to mimic the lok in the design, they are reset at tablet */
      width: 120vw;
      height: 150vw;
      border-radius: 0.25rem;
      /* clips the gradient pseudo and img tag corner */
      overflow: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
  }
  #services-479 .cs-background:before {
      /* green gradient at the bottom */
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(
          360deg,
          #073506 0%,
          rgba(7, 53, 6, 0) 67.27%
      );
      -webkit-filter: drop-shadow(0px 24px 54px rgba(87, 107, 147, 0.12));
      filter: drop-shadow(0px 24px 54px rgba(87, 107, 147, 0.12));
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: 10;
  }
  #services-479 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* makes image act like a background image */
      object-fit: cover;
  }
  #services-479 .cs-cta {
      text-decoration: none;
      margin-left: 3rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      /* 12px - 24px */
      gap: clamp(0.75rem, 2vw, 1.5rem);
  }
  #services-479 .cs-cta:hover .cs-arrow-wrap {
      transform: scale(1.2);
  }
  #services-479 .cs-arrow-wrap {
      /* 40px - 70px */
      width: clamp(2.5rem, 6vw, 4.375rem);
      height: clamp(2.5rem, 6vw, 4.375rem);
      background: rgba(217, 217, 217, 0.3);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s;
  }
  #services-479 .cs-arrow {
      width: 1.125rem;
      height: auto;
      display: block;
  }
  #services-479 .cs-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
  }
  #services-479 .cs-tag {
      /* 20px - 31px */
      font-size: clamp(1.25rem, 2.5vw, 1.9375rem);
      line-height: 1.2em;
      font-weight: 700;
      text-align: left;
      margin: 0 0 0.25rem 0;
      color: #fff;
      display: block;
  }
  #services-479 .cs-desc {
      /* 14px - 25px */
      font-size: clamp(0.875rem, 2vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: 400;
      text-align: center;
      margin: 0 0 0.25rem 0;
      color: #fff;
      display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-479 .cs-container {
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
      /* 60px - 130px */
      gap: clamp(3.75rem, 9vw, 8.125rem);
  }
  #services-479 .cs-left-section {
      width: 80%;
      margin: 0;
      padding-top: 0;
      justify-content: flex-start;
      /* pushes to the right side of the container */
      order: 2;
  }
  #services-479 .cs-background {
      width: 40vw;
      height: calc(135%);
  }
  #services-479 .cs-right-section {
      width: 55vw;
      /* prevents flexbox from squishing it */
      flex: none;
  }
  #services-479 .cs-cta {
      margin-left: 0;
      /* we need this link to break outside the cs-container, so we set a negative clamp value to translate left on the x axis as the screen grows, slowly pulling it farther and farther left outside the cs-container to match the designs position */
      /* 24px - 100px */
      transform: translateX(clamp(1.5rem, 5vw, 6.25rem));
  }
  #services-479 .cs-info {
      /* prevents flex-box from squishing it */
      flex: none;
  }
  #services-479 .cs-arrow-wrap {
      /* prevents flexbox from squishing it */
      flex: none;
  }
  #services-479 .cs-card-group {
      flex-direction: row;
      /* 16px - 20px */
      gap: clamp(1rem, 1.3vw, 1.25rem);
  }
}



/*-- -------------------------- -->
<---          CTA 304           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-403 {
      padding: var(--sectionPadding);
      position: relative;
  }
  #cta-403 .cs-background {
      width: 100%;
      height: 100%;
      background-blend-mode: multiply;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
  }
  #cta-403 .cs-background:before {
      /* background color overlay */
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background: #1a1a1a;
      opacity: 0.8;
      top: 0;
      left: 0;
      z-index: 1;
  }
  #cta-403 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* Makes img tag act as a background image */
      object-fit: cover;
      /* positions the image inside the parent */
      object-position: 0% 30%;
  }
  #cta-403 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-403 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      max-width: 32.3125rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
  }

  #cta-403 .cs-title,
  #cta-403 .cs-text {
      color: var(--bodyTextColorWhite);
  }
  #cta-403 .cs-text {
      opacity: 0.8;
      margin-bottom: 1rem;
  }
  #cta-403 .cs-text:last-of-type {
      margin-bottom: 2rem;
  }
  #cta-403 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: white;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: #73b21a;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #cta-403 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
    background: white;
    color: #73b21a;
  }
  #cta-403 .cs-button-solid:hover:before {
    width: 100%;
    margin-left: auto;
    color: #73b21a;
  }
  #cta-403 .cs-button-solid:hover {
    color: #73b21a;
  }

  #cta-403 .cs-button {
    display: none;
    margin-left: auto;
    border-radius: 0.25rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cta-403 .cs-background {
      /* clips the black slant so it doesnt overflow */
      overflow: hidden;
  }
  #cta-403 .cs-background:before {
      width: 40%;
      opacity: 1;
  }
  #cta-403 .cs-background:after {
      /* black slant */
      content: "";
      width: 31.25rem;
      height: 93.75rem;
      margin-right: -3.125rem;
      background: -moz-linear-gradient(
          left,
          #1a1a1a 0%,
          #1a1a1a 57%,
          rgba(26, 26, 26, 0) 100%
      );
      background: -webkit-linear-gradient(
          left,
          #1a1a1a 0%,
          #1a1a1a 57%,
          rgba(26, 26, 26, 0) 100%
      );
      background: linear-gradient(
          to right,
          #1a1a1a 0%,
          #1a1a1a 57%,
          rgba(26, 26, 26, 0) 100%
      );
      opacity: 1;
      position: absolute;
      display: block;
      top: 50%;
      right: 50%;
      transform: rotate(10deg) translateY(-50%);
  }
  #cta-403 .cs-background img {
      width: 60%;
      object-position: right;
      left: auto;
      right: 0;
  }
  #cta-403 .cs-container {
      flex-direction: row;
      justify-content: space-between;
  }
  #cta-403 .cs-content {
      text-align: left;
      align-items: flex-start;
      width: 45%;
  }
  #cta-403 .cs-text,
  #cta-403 .cs-title {
      margin-left: 0;
  }
}



/*-- -------------------------- -->
<---        FAQ 1346            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #faq-1346 {
    padding: var(--sectionPadding);
    position: relative;
    padding-top: 14em;
    background-color: #f7f7f7;
  }
  #faq-1346 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #faq-1346 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #faq-1346 .cs-flex-group {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2.3vw, 1.25rem);
    position: relative;
  }
  #faq-1346 .cs-wrapper {
    position: relative;
  }
  #faq-1346 .cs-button-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #faq-1346 .cs-option {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    /* 50px - 72px */
    line-height: clamp(3.125rem, 5vw, 4.5rem);
    font-weight: 700;
    padding: 0;
    /* prevents border from affecting height and width */
    box-sizing: border-box;
    background-color: #fff;
    color: var(--headerColor);
    border: 1px solid #e8e8e8;
    position: relative;
    z-index: 1;
    transition: border-color 0.3s;
  }
  #faq-1346 .cs-option:before {
    /* background color */
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s;
  }
  #faq-1346 .cs-option:hover:hover {
    border-color: var(--primary);
    cursor: pointer;
  }
  #faq-1346 .cs-option:hover:hover:before {
    opacity: 0.1;
  }
  #faq-1346 .cs-option.cs-active {
    border-color: var(--primary);
  }
  #faq-1346 .cs-option.cs-active:before {
    opacity: 0.1;
  }
  #faq-1346 .cs-faq-group {
    width: 100%;
    max-width: 52.9375rem;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    transition: transform 0.7s,
                opacity 0.3s,
                visibility 0.5s,
                top 0.3s,
                left 0.3s;
    /* makes the transfrom scaling orgin the top left corner, dictates the direction by which the scale transforms animate towards */
    transform-origin: top;
    transform-style: preserve-3d;
    perspective: 900px;
  }
  #faq-1346 .cs-faq-group.cs-hidden {
    /* by using visibility:hidden instead of display:none, we can see the animations from the opacity and transforms, display:none won't render animations. */
    visibility: hidden;
    /* prevents the mouse from interacting with it */
    pointer-events: none;
    /* hidden galleries have a 0 opacity, and we animate the opacity to 1 when they become active */
    opacity: 0;
    /* this top and left value help control the animation, by setting it to position absolute and left 0, the FAQ won't fly off screen to the left, it will stop its position to be at the left edge of the .cs-flex-group (left: 0). Same for the bottom:0 value, the FAQ won't go past that position when it animates */
    top: 0;
    left: 0;
    position: absolute;
    /* prevents the hidden galleries from overflowing the section, and makes a nice animations to transition to and from */
    transform: scaleY(0);
  }
  #faq-1346 .cs-faq-group.cs-hidden .cs-faq-item {
    transform: rotateX(270deg);
    opacity: 0;
  }
  #faq-1346 .cs-faq-item {
    list-style: none;
    width: 100%;
    border: 1px solid #e8e8e8;
    /* clips all corners of the button that overlap the rounded border */
    overflow: hidden;
    opacity: 1;
    top: 0;
    transform: rotateX(0deg);
    transition: transform 0.6s,
                opacity 0.3s;
  }
  #faq-1346 .cs-faq-item:nth-of-type(2) {
    transition-delay: 0.1s;
  }
  #faq-1346 .cs-faq-item:nth-of-type(3) {
    transition-delay: 0.2s;
  }
  #faq-1346 .cs-faq-item:nth-of-type(4) {
    transition-delay: 0.3s;
  }
  #faq-1346 .cs-faq-item:nth-of-type(5) {
    transition-delay: 0.4s;
  }
  #faq-1346 .cs-faq-item:nth-of-type(6) {
    transition-delay: 0.5s;
  }
  #faq-1346 .cs-faq-item:nth-of-type(7) {
    transition-delay: 0.6s;
  }
  #faq-1346 .cs-faq-item:nth-of-type(8) {
    transition-delay: 0.7s;
  }
  #faq-1346 .cs-faq-item:nth-of-type(9) {
    transition-delay: 0.8s;
  }
  #faq-1346 .cs-faq-item:nth-of-type(10) {
    transition-delay: 0.9s;
  }
  #faq-1346 .cs-faq-item.active .cs-button {
    color: var(--primary);
  }
  #faq-1346 .cs-faq-item.active .cs-button:before {
    background-color: var(--primary);
    transform: rotate(315deg);
  }
  #faq-1346 .cs-faq-item.active .cs-button:after {
    background-color: var(--primary);
    transform: rotate(-315deg);
  }
  #faq-1346 .cs-faq-item.active .cs-item-p {
    height: auto;
    /* 20px - 24px bottom */
    /* 16px - 24px left & right */
    padding: 0 clamp(1rem, 2vw, 1.5rem) clamp(1.25rem, 1.3vw, 1.5rem);
    opacity: 1;
  }
  #faq-1346 .cs-button {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    text-align: left;
    font-weight: bold;
    /* 16px - 24px top & bottom */
    /* 16px - 20px left & right */
    padding: clamp(1rem, 2vw, 1.5rem) clamp(1rem, 2vw, 1.25rem);
    background-color: #fff;
    border: none;
    color: var(--headerColor);
    display: block;
    width: 100%;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
  }
  #faq-1346 .cs-button:hover {
    cursor: pointer;
  }
  #faq-1346 .cs-button:before {
    /* left line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--headerColor);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 50%;
    right: 1.5rem;
    transform: rotate(45deg);
    /* animate the transform from the left side of the x axis, and the center of the y */
    transform-origin: left center;
    transition: transform 0.5s;
  }
  #faq-1346 .cs-button:after {
    /* right line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--headerColor);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 50%;
    right: 1.3125rem;
    transform: rotate(-45deg);
    /* animate the transform from the right side of the x axis, and the center of the y */
    transform-origin: right center;
    transition: transform 0.5s;
  }
  #faq-1346 .cs-button-text {
    width: 80%;
    display: block;
  }
  #faq-1346 .cs-item-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    width: 90%;
    height: 0;
    margin: 0;
    /* 16px - 24px */
    padding: 0 clamp(1rem, 2vw, 1.5rem);
    opacity: 0;
    color: var(--bodyTextColor);
    /* clips the text so it doesn't show up */
    overflow: hidden;
    transition: opacity 0.3s, padding-bottom 0.3s;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 48rem) {
  #faq-1346 .cs-container {
    max-width: 80rem;
  }
  #faq-1346 .cs-flex-group {
    flex-direction: row;
  }
  #faq-1346 .cs-button-group {
    width: 31%;
    max-width: 25.8125rem;
  }
}

/*-- -------------------------- -->
<---    Contact Form 485        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-contact-486 {
      padding: var(--sectionPadding);
      position: relative;
      z-index: 1;
      padding-top: 14em;
      padding-bottom: 0em;
  }
  #cs-contact-486 .cs-container {
      width: 100%;
      /* changes to 1440px at tablet */
      max-width: 34.375em;
      margin: auto;
      /* 20px - 80px */
      padding: clamp(1.25rem, 5.5vw, 5rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      background-color: var(--background);
      /* 12px - 24px */
      border-radius: clamp(0.25rem, 3vw, 0.25rem);
      /* clips the glowing orb */
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      position: relative;
      z-index: 1;
  }
  #cs-contact-486 .cs-container:before {
      /* glowing orb */
      content: "";
      width: 77.5rem;
      height: 7.625rem;
      background: #f1f1f4;
      opacity: 0.21;
      -webkit-filter: blur(152px);
      filter: blur(152px);
      transform: translateX(-50%) rotate(-38.5deg);
      position: absolute;
      display: block;
      top: 30%;
      left: 50%;
      z-index: -1;
  }
  #cs-contact-486 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: 36.75rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
  }
  #cs-contact-486 .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: inherit;
      max-width: 43.75rem;
      margin: 0 0 1rem 0;
      color: var(--headerColor);
      position: relative;
  }
  #cs-contact-486 .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      max-width: 40.625rem;
      margin: 0;
      color: var(--bodyTextColor);
  }
  #cs-contact-486 .cs-title {
      max-width: 21ch;
      color: var(--bodyTextColorWhite);
  }
  #cs-contact-486 .cs-color {
      color: var(--primary);
  }
  #cs-contact-486 .cs-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      /* 24px - 36px, matches the padding-bottom */
      margin: 0 0 clamp(1.5rem, 4vw, 2.25rem) 0;
      /* 24px - 36px */
      padding-bottom: clamp(1.5rem, 4vw, 2.25rem);
      color: #b4b2c7;
      position: relative;
  }
  #cs-contact-486 .cs-text:before {
      /* dashed border effect, by using this method we can control the width of the dashed lines */
      content: "";
      width: 100%;
      height: 1px;
      background-image: linear-gradient(
          90deg,
          #b3bac5,
          #b3bac5 50%,
          transparent 50%,
          transparent 0%
      );
      /* change the first left rem value to change the length of the dashes */
      background-size: 0.6rem 1px;
      opacity: 1;
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
  }
  #cs-contact-486 .cs-heading {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      line-height: 1.5em;
      font-weight: 700;
      text-align: left;
      color: var(--bodyTextColorWhite);
      display: block;
  }
  #cs-contact-486 .cs-heading:last-of-type {
      /* make the last one have the margin bottom to create the space between the contact info */
      margin-bottom: 0.75rem;
  }
  #cs-contact-486 .cs-link {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      font-weight: 400;
      text-align: left;
      text-decoration: none;
      margin: 0;
      color: #b4b2c7;
      display: block;
  }
  #cs-contact-486 #cs-form-486 {
      width: 100%;
      max-width: 38.625rem;
      padding: 2rem 1.5rem;
      background-color: #fff;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      border-radius: 0.25rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 1.25rem;
  }
  #cs-contact-486 .cs-h3 {
      /* 20px - 31px */
      font-size: clamp(1.25rem, 4vw, 1.9375rem);
      line-height: 1.2em;
      font-weight: 700;
      text-align: left;
      width: 100%;
      /* 4px + the 20px gap on the #cs-form */
      margin: 0 0 0.25rem 0;
      color: #14142b;
  }
  #cs-contact-486 .cs-label {
      font-size: 1rem;
      line-height: 1.5em;
      width: 100%;
      margin: 0 0 0.375rem 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: #14142b;
  }
  #cs-contact-486 .cs-input,
  #cs-contact-486 .cs-textarea,
  #cs-contact-486 #cs-select-486 {
      font-size: 1rem;
      font-family: inherit;
      width: 100%;
      height: 3rem;
      margin: 0;
      padding: 0 1.25rem;
      /* prevents padding from affecting width and height */
      box-sizing: border-box;
      border-radius: 0.25rem;
      border: 1px solid #b4b2c7;
      background-color: transparent;
  }
  #cs-contact-486 .cs-input::placeholder,
  #cs-contact-486 .cs-textarea::placeholder,
  #cs-contact-486 #cs-select-486::placeholder {
      color: #7d799c;
      font-size: 1rem;
  }
  #cs-contact-486 .cs-textarea {
      min-height: 9.375rem;
      padding-top: 0.625rem;
  }
  #cs-contact-486 .cs-button-solid {
    /* button override */
    width: 100%;
    border: none;
}
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-contact-486 .cs-container {
      max-width: 90rem;
      flex-direction: row;
      justify-content: space-between;
  }
  #cs-contact-486 .cs-label:nth-of-type(1),
  #cs-contact-486 .cs-label:nth-of-type(2) {
      width: clamp(45%, 17vw, 48.5%);
  }
}


/*-- -------------------------- -->
<---         CTA 262            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-262 {
      padding: var(--sectionPadding);
  }
  #cta-262 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      /* 32px - 88px top & bottom */
      /* 24px - 88px left & right */
      padding: clamp(7em, 6.3vw, 5.5em) clamp(1.5em, 5.7vw, 5.5em);
      border-radius: 0.25rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 2rem;
      position: relative;
      /* clips the corners for the border radius to show */
      overflow: hidden;
      z-index: 1;
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
  }
  #cta-262 .cs-background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      z-index: -1;
  }
  #cta-262 .cs-background:before {
      /* black overlay */
      content: "";
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.7;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: 1;
  }
  #cta-262 .cs-background:after {
      /* brown overlay */
      content: "";
      width: 100%;
      height: 100%;
      background: var(--primary);
      opacity: 0.1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: 2;
  }
  #cta-262 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
  #cta-262 .cs-left-section {
      max-width: 34.125rem;
  }

  #cta-262 .cs-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      /* 12px - 20px */
      gap: clamp(0.75rem, 1.6vw, 1.25rem);
  }
  #cta-262 .cs-header {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2.4vw, 1.5625rem);
      font-weight: bold;
      color: var(--primary);
      display: block;
  }
  #cta-262 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem;
    color: var(--bodyTextColorWhite);
    position: relative
}
  #cta-262 .cs-p {
      /* 14px - 20px */
      font-size: clamp(0.875rem, 1.5vw, 1.25rem);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColorWhite);
  }
  #cta-262 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: white;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: #73b21a;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #cta-262 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
    background: white;
    color: #73b21a;
  }
  #cta-262 .cs-button-solid:hover:before {
    width: 100%;
    margin-left: auto;
    color: #73b21a;
  }
  #cta-262 .cs-button-solid:hover {
    margin-left: auto;
    color: #73b21a;
  }

  #cta-262 .cs-button {
    display: none;
    margin-left: auto;
    border-radius: 0.25rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cta-262 .cs-container {
      flex-direction: row;
      justify-content: space-between;
  }
  #cta-262 .cs-content {
      align-items: flex-end;
      text-align: right;
      /* prevents flexbox from squishing it */
      flex: none;
  }
}



/*-- -------------------------- -->
<---     Side By Side 1015      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1015 {
      /* prevents the overflowing cs-picture at large desktop from causing overflow issues */
      overflow: hidden;
  }
  #sbs-1015 .cs-container {
      width: 100%;
      max-width: 80rem;
      /* 16px - 20px */
      margin: 0 auto clamp(1rem, 1.5vw, 1.25rem);
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 7vw, 4rem);
      position: relative;
  }
  #sbs-1015 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      max-width: 33.125rem;
      /* moved section padding to the content area */
      padding: var(--sectionPadding);
      padding-bottom: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
  }

  #sbs-1015 .cs-text {
      margin: 0 0 2rem;
  }
  #sbs-1015 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 2rem;
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
  }
  #sbs-1015 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
  }
  #sbs-1015 .cs-button-solid:hover:before {
      width: 100%;
  }
  #sbs-1015 .cs-picture {
      width: 100%;
      height: 30rem;
      display: block;
      position: relative;
  }
  #sbs-1015 .cs-picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
  }
  #sbs-1015 .cs-image-group {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      /* 16px - 20px */
      gap: clamp(1rem, 1.5vw, 1.25rem);
  }
  #sbs-1015 .cs-image {
      width: 100%;
      /* 170px - 284px */
      height: clamp(10.625rem, 32vw, 17.75rem);
      display: block;
      grid-column: span 6;
      position: relative;
  }
  #sbs-1015 .cs-image:nth-of-type(3),
  #sbs-1015 .cs-image:nth-of-type(4),
  #sbs-1015 .cs-image:nth-of-type(5) {
      display: none;
  }
  #sbs-1015 .cs-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1015 .cs-container {
      /* moved section padding to the container */
      padding: var(--sectionPadding);
      padding-bottom: 0;
      /* remove padding-right so the image touches the right screen edge */
      padding-right: 0;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      flex-direction: row;
      justify-content: space-between;
  }
  #sbs-1015 .cs-content {
      text-align: left;
      padding: 0;
      align-items: flex-start;
  }
  #sbs-1015 .cs-image {
      grid-column: span 4;
  }
  #sbs-1015 .cs-image:nth-of-type(3) {
      display: block;
  }
}
/* Large Desktop - 1200px */
@media only screen and (min-width: 75rem) {
  #sbs-1015 {
      /* moved section padding to the section but removed all padding except the padding top.  We're moving the padding top from the container to the section container so we can place the cs-picture easier inside the cs-container. If the Stitch below this Stitch is on a white background, add padding-bottom:0; to this one so there's not a huge gap between the sections. */
      padding: var(--sectionPadding);
      padding-left: 0;
      padding-right: 0;
  }
  #sbs-1015 .cs-container {
      padding-top: 0;
  }
  #sbs-1015 .cs-content {
      padding: 3.25rem 0;
  }
  #sbs-1015 .cs-picture {
      width: 50vw;
      height: 100%;
      margin: 0 0 0 0.625rem;
      /* absolutely positioned so it can rest on the right edge of the screen, and its height will respond the the changing height of the cs-content when you add or subtract content */
      position: absolute;
      left: 50%;
      top: 0;
  }
  #sbs-1015 .cs-image-group {
      grid-template-columns: repeat(5, 1fr);
  }
  #sbs-1015 .cs-image {
      grid-column: span 1;
  }
  #sbs-1015 .cs-image:nth-of-type(4),
  #sbs-1015 .cs-image:nth-of-type(5) {
      display: block;
  }
}


/*-- -------------------------- -->
<---       Side By Side  1357   -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

  #sbs-1357 {
    background-color: #f7f7f7;
  }
  @keyframes floatAnimation {
      0% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(-2rem);
      }
      100% {
          transform: translateY(0);
      }
  }
  @keyframes floatAnimation2 {
      0% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(-3rem);
      }
      100% {
          transform: translateY(0);
      }
  }
  #sbs-1357 {
      padding: var(--sectionPadding);
      position: relative;
      overflow: hidden;
      z-index: 1;
  }
  #sbs-1357 .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: 39.375rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
      /* 16px - 20px */
      column-gap: clamp(1rem, 2.3vw, 1.25rem);
  }
  #sbs-1357 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      max-width: 39.375rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
  }

  #sbs-1357 .cs-topper {
      color: #767676;
  }
  #sbs-1357 .cs-title {
      max-width: 25ch;
  }
  #sbs-1357 .cs-text {
      margin-bottom: 1rem;
  }
  #sbs-1357 .cs-text:last-of-type {
      margin-bottom: 2rem;
  }
  #sbs-1357 .cs-h3 {
      /* 16px - 30px */
      font-size: clamp(1rem, 2.4vw, 1.25rem);
      line-height: 1.2em;
      font-weight: 700;
      max-width: 37ch;
      /* 16px - 24px */
      margin: 0 0 clamp(1rem, 1.6vw, 1.5rem);
      color: var(--primary);
  }

  #sbs-1357 .cs-bubbles {
      width: 33.375rem;
      height: 34rem;
      position: absolute;
      /* changes to 160px at larger desktop */
      left: -16.25rem;
      /* removed at larger desktop */
      bottom: -15rem;
      z-index: -1;
  }
  #sbs-1357 .cs-bubbles:before {
      /* white border bubble */
      content: "";
      width: 26.25rem;
      height: 26.25rem;
      background: transparent;
      border: 1px solid #1a1a1a;
      border-radius: 50%;
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      animation-name: floatAnimation;
      animation-duration: 5s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
  }
  #sbs-1357 .cs-bubbles:after {
      /* orange bubble */
      content: "";
      width: 20.6875rem;
      height: 20.6875rem;
      background: var(--primary);
      opacity: 0.15;
      border-radius: 50%;
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      animation-name: floatAnimation2;
      animation-duration: 14s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
  }
  #sbs-1357 .cs-picture {
      width: 100%;
      height: 20.5rem;
      border-radius: 0.25rem;
      /* clips the corners of the img tag */
      overflow: hidden;
      display: block;
      position: relative;
  }
  #sbs-1357 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* Makes img tag act as a background image */
      object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1357 .cs-container {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
  }
  #sbs-1357 .cs-content {
      width: 85%;
      order: -1;
  }
  #sbs-1357 .cs-picture {
      width: 50%;
      max-width: 19.0625rem;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1357 .cs-container {
      max-width: 80rem;
      flex-wrap: nowrap;
  }
  #sbs-1357 .cs-content {
      /* 80px - 140px */
      padding: clamp(5rem, 10vw, 8.75rem) 0;
      order: initial;
  }
  #sbs-1357 .cs-bubbles {
      /* reset at large deskop */
      left: -12.0625rem;
      bottom: -8.125rem;
  }
  #sbs-1357 .cs-picture {
      width: 37%;
      /* 230px - 340px */
      height: clamp(14.375rem, 24vw, 21.25rem);
  }
  #sbs-1357 .cs-picture1 {
      align-self: flex-start;
  }
  #sbs-1357 .cs-picture2 {
      align-self: flex-end;
  }
}
/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
  #sbs-1357 .cs-bubbles {
      margin-right: 31.25rem;
      left: auto;
      right: 50%;
      bottom: -3.125rem;
  }
}

/*-- -------------------------- -->
<---       Side By Side 290      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-290 {
      padding: var(--sectionPadding);
  }
  #sbs-290 .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-290 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
  }

  #sbs-290 .cs-text {
      margin-bottom: 1rem;
  }
  #sbs-290 .cs-text:last-of-type {
      margin-bottom: 2rem;
  }
  #sbs-290 .cs-ul {
    max-width: 39.375rem;
    margin: 0 0 2rem 0;
    padding: 0;
    /* clips the bullets to create the half circle */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
}
#sbs-290 .cs-li {
    list-style: none;
    margin: 0;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.75rem;
    position: relative;
}

  #sbs-290 .cs-image-group {
      /* scaling entire section down. font-size starts at a min in vw, and stops when that value reaches 1em (16px). Since we want the picture elements to base their font size on the parent and not the root, we use ems for this entire section  */
      font-size: min(1.978vw, 0.791em);
      width: 46.0625em;
      height: 45.9375em;
      position: relative;
  }
  #sbs-290 .cs-picture {
      border-radius: 0.25em;
      /* clips the img tag corners */
      overflow: hidden;
      position: absolute;
      display: block;
  }
  #sbs-290 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
  #sbs-290 .cs-picture1 {
      width: 24.875em;
      height: 24.5625em;
      top: 0;
      left: 0;
  }
  #sbs-290 .cs-picture2 {
      width: 20em;
      height: 19.875em;
      top: 4.6875em;
      right: 0;
  }
  #sbs-290 .cs-picture3 {
      width: 20.3125em;
      height: 20.125em;
      bottom: 0;
      left: 4.4375em;
  }
  #sbs-290 .cs-picture4 {
      width: 16.5em;
      height: 16.375em;
      bottom: 3.75em;
      right: 3.5625em;
  }
  #sbs-290 .cs-play-link {
      width: 6.3125em;
      height: 6.3125em;
      border-radius: 50%;
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
      border: 1px solid #fff;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-15%, -15%);
      transition:
          background-color 0.3s,
          filter 0.3s,
          box-shadow 0.3s,
          transform 0.3s;
  }
  #sbs-290 .cs-play-link:hover {
      background-color: #fff;
      box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
      transform: translate(-15%, -15%) scale(1.1);
  }
  #sbs-290 .cs-play-link:hover img {
      transform: rotate(120deg) translate(15%, 5%);
  }
  #sbs-290 .cs-play-link img {
      width: 2em;
      height: auto;
      margin-left: 0.3125em;
      display: block;
      transition: transform 0.3s;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-290 .cs-container {
      max-width: 80rem;
      flex-direction: row-reverse;
      align-items: center;
  }
  #sbs-290 .cs-image-group {
      /* reset the scale */
      font-size: min(1.1vw, 1em);
      /* prevent flexbox from squishing it */
      flex: none;
  }
}



/*-- -------------------------- -->
<---      Services 1168         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1168 {
      background-color: #fff;
      padding: var(--sectionPadding);
  }
  #services-1168 .cs-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      /* changes to 1440px at large desktop */
      max-width: calc(824 / 16 * 1rem);
      width: 100%;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1168 .cs-content {
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
      width: 100%;
      /* set text align to left if content needs to be left aligned */
      text-align: center;
  }

  #services-1168 .cs-title {
      max-width: 23ch;
  }
  #services-1168 .cs-card-group {
      display: grid;
      align-items: stretch;
      grid-template-columns: repeat(12, 1fr);
      margin: 0;
      width: 100%;
      padding: 0;
      /* 16px - 20px */
      gap: clamp(1rem, 2vw, 1.25rem);
  }
  #services-1168 .cs-item {
      z-index: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: #f7f7f7;
      width: 100%;
      list-style: none;
      text-align: left;
      grid-column: span 12;
  }
  #services-1168 .cs-item:hover .cs-picture img {
      transform: scale(1.2);
  }
  #services-1168 .cs-item:hover .cs-h3,
  #services-1168 .cs-item:hover .cs-link {
      color: var(--primary);
  }
  #services-1168 .cs-item:hover .cs-arrow {
      filter: initial;
  }
  #services-1168 .cs-picture {
      position: relative;
      display: block;
      /* 180px - 240px */
      height: clamp(11.25rem, 24vw, 15rem);
      width: 100%;
      /* clips the image from overflowing parent on hover */
      overflow: hidden;
  }
  #services-1168 .cs-picture img {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: transform 0.65s;
  }
  #services-1168 .cs-info {
      display: flex;
      flex-direction: column;
      padding: calc(24 / 16 * 1rem);
  }
  #services-1168 .cs-h3 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
      line-height: 1.5em;
      font-weight: 700;
      color: var(--headerColor);
      transition: background-color 0.3s;
      text-align: inherit;
      margin: 0 0 calc(12 / 16 * 1rem) 0;
      transition: color 0.3s;
  }
  #services-1168 .cs-item-text {
      width: 100%;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      color: var(--bodyTextColor);
      text-align: inherit;
      margin: 0;
  }
  #services-1168 .cs-link {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none;
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.2em;
      font-weight: 700;
      color: var(--headerColor);
      text-align: inherit;
      margin-top: calc(20 / 16 * 1rem);
      transition: color 0.3s;
  }
  #services-1168 .cs-link:hover .cs-arrow {
      transform: translateX(0.25rem);
  }
  #services-1168 .cs-arrow {
      filter: grayscale(1) brightness(0);
      display: block;
      height: auto;
      width: calc(20 / 16 * 1rem);
      transition:
          filter 0.3s,
          transform 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1168 .cs-item {
      grid-column: span 6;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-1168 .cs-container {
      max-width: calc(1440 / 16 * 1rem);
  }
  #services-1168 .cs-item {
      grid-column: span 3;
  }
}

/*-- -------------------------- -->
<---      Services 1329         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1329 {
      padding: var(--sectionPadding);
      position: relative;
      background-color: #f7f7f7;
  }
  #services-1329 .cs-container {
      width: 100%;
      max-width: 36.5rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1329 .cs-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      gap: 1rem;
  }

  #services-1329 .cs-title {
      max-width: 23ch;
  }
  #services-1329 .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      /* 16px - 20px */
      gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #services-1329 .cs-item {
      list-style: none;
      width: 100%;
      /* 300px - 380px */
      height: clamp(18.75rem, 50vw, 23.75rem);
      margin: 0;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      padding: 0;
      background-color: #000;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      text-align: left;
      box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
      grid-column: span 12;
      z-index: 1;
  }
  #services-1329 .cs-item:hover .cs-picture::after {
      opacity: 1;
  }
  #services-1329 .cs-item:hover .cs-picture img {
      transform: scale(1.2);
  }
  #services-1329 .cs-item:hover .cs-h3 {
      color: var(--primary);
  }
  #services-1329 .cs-item:hover .cs-number {
      opacity: 1;
      top: clamp(1.25rem, 2.3vw, 2rem);
  }
  #services-1329 .cs-item:hover .cs-arrow {
      opacity: 0.12;
      bottom: 50%;
      transform: translateY(50%);
  }
  #services-1329 .cs-link {
      text-decoration: none;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      /* 20px - 32px */
      padding: clamp(1.25rem, 2.3vw, 2rem);
      /* we use flexbox here to grow the link to fit the whole item, making it clickable everywhere, no matter the size */
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      z-index: 1;
  }
  #services-1329 .cs-link::after {
      /* hover overlay */
      content: "";
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      /* as we can't animate background gradients, we animate the change of opacity from 0 to 1 */
      transition: opacity 0.3s;
  }
  #services-1329 .cs-number {
      /* 25px - 39px */
      font-size: clamp(1.5625rem, 2.7vw, 2.4375rem);
      font-weight: bold;
      color: var(--bodyTextColorWhite);
      opacity: 0;
      position: absolute;
      top: 0;
      transition:
          opacity 0.3s,
          top 0.3s;
  }
  #services-1329 .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: bold;
      margin: 0 0 0.25rem 0;
      color: var(--bodyTextColorWhite);
      transition: color 0.3s;
      text-align: inherit;
  }
  #services-1329 .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      margin: 0;
      padding: 0;
      color: var(--bodyTextColorWhite);
  }
  #services-1329 .cs-picture {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
  }
  #services-1329 .cs-picture:before {
      /* background color overlay */
      content: "";
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(
          top,
          rgba(26, 26, 26, 0) 0%,
          rgba(0, 0, 0, 0.76) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
          top,
          rgba(26, 26, 26, 0) 0%,
          rgba(0, 0, 0, 0.76) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
          to bottom,
          rgba(26, 26, 26, 0) 0%,
          rgba(0, 0, 0, 0.76) 100%
      );
      opacity: 1;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
  }
  #services-1329 .cs-picture:after {
      /* background color overlay on hover */
      content: "";
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(
          top,
          rgba(26, 26, 26, 0.4) 0%,
          rgba(0, 0, 0, 0.8) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
          top,
          rgba(26, 26, 26, 0.4) 0%,
          rgba(0, 0, 0, 0.8) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
          to bottom,
          rgba(26, 26, 26, 0.4) 0%,
          rgba(0, 0, 0, 0.8) 100%
      );
      opacity: 0;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: opacity 0.3s;
  }
  #services-1329 .cs-picture img {
      width: 100%;
      height: 100%;
      /* Makes img tag act as a background image */
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: transform 0.7s;
  }
  #services-1329 .cs-arrow {
      width: 100%;
      height: auto;
      opacity: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      transition:
          bottom 0.3s,
          opacity 0.3s,
          transform 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1329 {
    padding: var(--sectionPadding);
  }
  #services-1329 .cs-content {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      gap: 2.5rem;
  }
  #services-1329 .cs-text {
      width: 50%;
  }
  #services-1329 .cs-title {
      margin: 0;
  }
}
/* Desktop - 900px */
@media only screen and (min-width: 56.25rem) {
  #services-1329 .cs-container {
      max-width: 80rem;
  }
  #services-1329 .cs-item {
      height: 30rem;
      grid-column: span 4;
  }
}