<section id="cta-1132">
    <div class="cs-container">
      <div class="cs-content">
        <h1 class="cs-title">404 - Page Not Found</h1>
        <p class="cs-text">
          Sorry, the page you're looking for could not be found.
        </p>
  
        <div class="cs-button-box">
          <a href="/" class="cs-button-solid">Go to Homepage</a>
        </div>
  
        <div class="cs-suggestions">
          <h2>You might want to visit:</h2>
          <div class="cs-button-box">
            <a href="about/" class="cs-button-solid">About Us</a>
            <a href="services/" class="cs-button-solid">Our Services</a>
            <a href="contact/" class="cs-button-solid">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Background Image -->
    <picture class="cs-background">
      <source media="(max-width: 600px)" srcset="media/images/404/IMG_6884.webp" />
      <source media="(min-width: 601px)" srcset="media/images/404/IMG_6884.webp" />
      <img
        loading="lazy"
        decoding="async"
        src="media/images/404/IMG_6884.webp"
        alt="404 background"
        width="2000"
        height="623"
      />
    </picture>
  
    <!-- White splash graphic -->
    <picture class="cs-graphic cs-light">
      <source media="(max-width: 600px)" srcset="media/images/404/splash-m.png" />
      <source media="(max-width: 1023px)" srcset="media/images/404/splash-t.png" />
      <source media="(min-width: 1024px)" srcset="media/images/404/splash.png" />
      <img
        loading="lazy"
        decoding="async"
        src="media/images/404/splash.png"
        alt="graphic"
        width="1920"
        height="108"
        aria-hidden="true"
      />
    </picture>
  </section>
  
  <style>
    /*-- -------------------------- -->
  <---            CTA             -->
  <--- -------------------------- -*/
  
    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
      #cta-1132 {
        padding: var(--sectionPadding);
        padding-top: 10em;
        /* chnages at tablet */
        padding-bottom: 20vw;
        background-color: var(--primary);
        overflow: hidden;
        position: relative;
        z-index: 1;
      }
      #cta-1132 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
      }
      #cta-1132 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
      }
  
      #cta-1132 .cs-title {
        text-transform: capitalize;
        max-width: 24ch;
        /* 28px - 40px */
        margin: 0 0 clamp(1.75rem, 3vw, 2.5rem);
  
        color: var(--bodyTextColorWhite);
      }
      #cta-1132 .cs-button-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
      }
  
      #cta-1132 .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
      #cta-1132 .cs-background:before {
        /* background color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: var(--primary);
        opacity: 0.8;
        top: 0;
        left: 0;
        z-index: 1;
      }
      #cta-1132 .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes img tag act as a background image */
        object-fit: cover;
      }
      #cta-1132 .cs-graphic {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-end;
        position: absolute;
        bottom: -1px;
        left: 0;
        z-index: 10;
      }
      #cta-1132 .cs-graphic img {
        width: 100%;
        height: auto;
        display: block;
      }
      /* Additional 404-specific styles */
      #cta-1132 .cs-text {
        color: var(--bodyTextColorWhite);
        margin-bottom: 2rem;
        font-size: 1.2rem;
      }
  
      #cta-1132 code {
        background: rgba(255, 255, 255, 0.1);
        padding: 0.2rem 0.4rem;
        border-radius: 4px;
        font-family: monospace;
        color: var(--secondary);
      }
  
      #cta-1132 .cs-suggestions {
        margin-top: 3rem;
        text-align: center;
      }
  
      #cta-1132 .cs-suggestions h2 {
        color: var(--bodyTextColorWhite);
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
      #cta-1132 {
        /* changes at desktop */
        padding-bottom: 15vw;
        padding-top: 14em;
      }
    }
    /* Desktop - 1024pxpx */
    @media only screen and (min-width: 64rem) {
      #cta-1132 {
        /* changes at desktop */
        padding-bottom: 10vw;
      }
    }
  </style>
  